
table ul{
  list-style-type: none;
  
  }
  
  
  
  ul.friends-list{padding:0;list-style:none}ul.friends-list li{width:auto;min-width:170px;margin-bottom:20px;border:1px solid #e9ebec;background:#f7f7f8;float:left;padding:5px;margin:0 0 5px 5px;white-space:nowrap;overflow:hidden}ul.friends-list li:last-child{margin-bottom:0}ul.friends-list li .avatar{float:left;margin-right:10px;width:40px}ul.friends-list li .avatar img{width:40px}ul.friends-list li a{display:inline-block;font-size:22px;line-height:8px;text-decoration:none;color:#b2b8bd}
