      /*menu css*/

      .bg-set {
        background: #484545;
      }

      .noresult {
        text-align: center;
        height: 78px;
        border: 1px solid grey;
        padding: 8%;
        margin: 29px;
        background: rgba(128, 128, 128, 0.26);
      }

      .item-complex .item-content,
      .item-radio .item-content {
        background-color: white!important;
        padding: 20px 49px 20px 20px!important;
      }

      .menu-color .item-content {
        background: #1c1b1b!important
      }

      .iw-contents {
        background: white!important;
      }

      .item-complex img {
        padding-right: 20px;
      }

      .item-complex {
        margin-bottom: 3px;
      }

      .iw-navbar {
        background: #484545!important;
      }

      .bar.bar-stable .title {
        color: white!important;
        font-size: larger;
      }

      .hanger img {
        max-width: 40%!important;
      }

      .menu-bg {
        background: #282626;
      }

      .log img {
        margin-right: 20px;
      }

      .log {
        background: #1c1b1b!important;
      }

      .item {
        margin-top: 2px;
      }

      .item i {
        font-size: 30px;
        padding-right: 15px;
        color: #5380f2;
      }

      .item p {
        display: -webkit-inline-box;
        color: white;
        font-size: 16px;
        font-weight: 600;
        font-family: "Roboto", sans-serif!important;
      }

      .profile-img img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin: 20px 0px 0px 95px;
      }

      .profile-img h4 {
        color: white;
        text-align: center;
      }

      .profile-img p {
        color: white;
        text-align: center;
      }

      .profile-img {
        background-color: rgba(0, 0, 0, 0.30);
        height: 200px;
      }
      /*menu css end*/
      /*login css*/

      .content h1 {
        color: white;
      }

      .login {

        background-size: cover!important;
        background-repeat: no-repeat !important;
        display: block;
      }

      .ionic .button.button-outline.button-assertive,
      .ionic .button.button-outline.button-balanced,
      .ionic .button.button-outline.button-calm,
      .ionic .button.button-outline.button-dark,
      .ionic .button.button-outline.button-energized,
      .ionic .button.button-outline.button-light,
      .ionic .button.button-outline.button-positive,
      .ionic .button.button-outline.button-royal,
      .ionic .button.button-outline.button-stable,
      .ionic .button.button-outline {
        border-color: rgba(0, 0, 0, 0.1);
      }

      .ionic.login .light-bg {
        background-color: #fff;
      }

      .ionic .button.button-small {
        line-height: 22px;
      }

      .ionic .button-outline,
      .ionic .button-outline:hover,
      .ionic .button-outline:active {
        border-style: solid;
        border-width: 1px;
      }

      .hero.hero-icon {
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, .26);
        border-radius: 50%;
        display: inline-block;
        padding: 0px!important;
        height: 125px;
        width: 125px;
      }

      .hero.no-header {
        height: 300px;
      }

      .login .button-bar {
        bottom: 0;

        width: 94% !important;
        margin: 28% 14px 25px!important;
      }

      .blue-btn {
        border-color: #488aff!important;
        background-color: #488aff!important;
        color: #fff;
      }

      .tab-item {
        max-width: 180px!important;
      }

      .tabs-striped.tabs-light .tabs {
        background-color: #484545!important;
      }

      .tabs-striped.tabs-light .tab-item.tab-item-active,
      .tabs-striped.tabs-light .tab-item.active,
      .tabs-striped.tabs-light .tab-item.activated {
        margin-top: -2px;
        color: white!important;
        border-style: solid;
        border-width: 2px 0 0 0;
        border-color: white!important;
      }

      .tabs-light>.tabs,
      .tabs.tabs-light {
        border-color: #ddd;
        background-color: #484545!important;
        background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
        color: #fff!important;
      }
      /*login css end*/
      /*support us*/

      .hero.support {
        height: 300px;
      }

      .email h3 {
        color: black!important;
      }

      .hero>.email {
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1;
        bottom: 100px;
      }

      hr.style13 {
        width: 250px;
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
      }
      /*support us css end*/
      /*order css*/

      .hero>.order {
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1;
        bottom: 0;
      }

      .hero.iw-order {
        height: 300px;
      }

      .order h3 {
        color: black;
      }

      .iw-pickup {
        padding: 15px;
      }

      .iw-pickup h5 {
        color: black;
        margin: 40px 15px;
        font-weight: 500;
      }

      .iw-schedule-btn {
        border-color: #eb5050!important;
        background-color: #ec5252!important;
        color: #fff;
      }

      .iw-stable-bg {
        background: white!important;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.99), 0 6px 1px -3px rgba(0, 0, 0, 0.8), 0 8px 8px 0 rgba(0, 0, 0, 0.30)!important
      }


      .iw-order-placed table tbody tr td {
        color: grey;
        font-weight: 400;
        width: 50%;
        padding: 5px;
      }

      .iw-order-placed table tbody tr {
        border-bottom: 1px solid silver;
        height: 40px;
      }

      .iw-order-placed h4:nth-child(1) {
        font-size: 16px;
        margin: 0;
      }

      .iw-placed h4 {
        text-align: right;
        color: green;
        margin: 0;
      }

      .iw-cancel h4 {
        text-align: right;
        color: red;
        margin: 0;
      }

      .iw-order-placed h6 {
        color: #716767;
        font-weight: normal;
        margin-left: 10px;
      }

      .iw-tabs-secondary {
        background: gainsboro;
      }

      .iw-tabs-secondary a:nth-child(2) {
        border-right: 1px solid grey;
      }

      .iw-tabs-secondary a {
        color: black!important;
        font-size: 14px!important;
      }

      .iw-order-cancel img {
        margin: 0 auto;
        box-shadow: none!important;
        border: 7px double silver;
        border-radius: 50%;
        padding: 20px;
      }

      .iw-order-cancel h5 {
        font-size: 14px;
        text-align: center;
        color: #ec5555;
      }

      .iw-order-cancel h2 {
        font-weight: 500;
        text-align: center;
      }

      .iw-order-cancel p {
        display: block!important;
        color: grey!important;
        text-align: center;
      }

      .iw-order-cancel h4 {
        margin-left: 10px;
        font-size: 16px;
        font-weight: normal;
      }

      .iw-order-status img {
        margin: 0 auto;
        box-shadow: none!important;
        border: 7px double silver;
        border-radius: 50%;
        padding: 20px;
      }

      .iw-order-status h5 {
        font-size: 14px;
        text-align: center;
        color: green;
      }

      .iw-order-status h2 {
        font-weight: 500;
        text-align: center;
      }

      .iw-order-status p {
        display: block!important;
        color: grey!important;
        text-align: center;
      }

      .iw-order-status h4 {
        margin-left: 10px;
        font-size: 16px;
        font-weight: normal;
      }

      .iw-order-status h3 {
        font-size: 14px;
        font-weight: 400;
        text-align: right;
        margin: -25px 10px 10px;
      }

      .iw-order-status h3 a {
        color: red;
      }
      /*order css end*/
      /*FAQ css here*/

      .list .item.item-accordion {
        line-height: 38px;
        padding-top: 0;
        padding-bottom: 0;
        transition: 0.09s all linear;
        white-space: normal;
      }

      .list .item.item-accordion.ng-hide {
        line-height: 0px;
      }

      .list .item.item-accordion.ng-hide-add,
      .list .item.item-accordion.ng-hide-remove {
        display: block !important;
      }
      /*FAQ Css end here*/
      /*rate page css*/

      .list .item {
        border: none;
        min-height: 0px!important;
        text-align: left;
      }

      .iw-header {
        background: gainsboro;
        color: #484545;
        padding: 5px 10px;
        margin-top: 0px;
      }

      .iw-dryclean a h2 {
        font-weight: 500;
        padding-bottom: 10px;
      }

      .iw-rate {
        display: inline-flex;
        float: right;
      }

      .iw-qty {
        width: 30px!important;
        height: 25px!important;
        text-align: center;
      }

      .iw-qtyplus {
        color: white;
        background: #5380f2;
        border: none;
        border-radius: 5px;
        width: 25px;
      }

      .iw-qtyminus {
        color: white;
        background: #5380f2;
        border: none;
        border-radius: 5px;
        width: 25px;
      }
      /*home css*/

      .slide-box__image {
        width: 100%;
        height: 200px;
      }

      .iw-testimonial {
        background: white;
      }

      .iw-testimonial h5 {
        font-weight: 600;
        padding: 10px;
        border-bottom: 1px solid silver;
        text-transform: uppercase;
        word-spacing: 3px;
      }

      .cd-testimonials-wrapper ul {
        list-style: none;
      }

      *,
      *:after,
      *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      a {
        color: #79b6e4;
        text-decoration: none;
      }

      img {
        max-width: 100%;
      }

      .cd-testimonials-wrapper {
        position: relative;
        max-width: 768px;
        background-color: #39393c;
        margin: 2em auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 20px 40px 50px;
        z-index: 1;
      }

      .cd-testimonials-wrapper::after {
        /* quotation mark */
        content: '\201C';
        position: absolute;
        top: 10px;
        left: 0;
        width: 50px;
        height: 50px;
        padding-top: 8px;
        margin-left: -25px;
        background: rgba(32, 32, 34, 0.9);
        font-family: "Georgia", serif;
        color: white;
        font-size: 70px;
        font-size: 4.375rem;
        text-align: center;
        /* visible on big devices only */
        display: none;
      }


      .cd-testimonials {
        text-align: center;
      }

      .cd-testimonials:after {
        content: "";
        display: table;
        clear: both;
      }

      .cd-testimonials>li {
        position: absolute;
        opacity: 0;
      }

      .cd-testimonials>li:first-child {
        position: relative;
        opacity: 1;
      }

      .cd-testimonials p {
        line-height: 1.4;
        margin-bottom: 1em;
        font-weight: 500;
      }


      .cd-author img,
      .cd-author .cd-author-info {
        display: inline-block;
        vertical-align: middle;
      }

      .cd-author img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 5px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
      }

      .cd-author .cd-author-info {
        text-align: left;
        line-height: 1.2;
      }

      .cd-author .cd-author-info li:first-child {
        font-size: 14px;
        font-weight: 600;
      }

      .cd-author .cd-author-info li:last-child {
        font-size: 12px;
        color: #6b6b70;
        font-weight: 400;
      }


      .flex-direction-nav li {
        position: absolute;
        height: 100%;
        width: 40px;
        top: 0;
      }

      .flex-direction-nav li:first-child {
        left: 0;
      }

      .flex-direction-nav li:last-child {
        right: 0;
      }

      .flex-direction-nav li a {
        display: block;
        height: 100%;
        width: 100%;
        /* image replacement */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
      }

      .flex-direction-nav li:hover {
        background-color: #323234;
      }

      .no-touch .flex-direction-nav li a:hover {
        background-color: #323234;
      }

      .flex-direction-nav li a::before,
      .flex-direction-nav li a::after {
        /* left and right arrows in css only */
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 2px;
        height: 13px;
        background-color: white;
      }

      .flex-direction-nav li a::before {
        -webkit-transform: translateY(-35px) rotate(45deg);
        -moz-transform: translateY(-35px) rotate(45deg);
        -ms-transform: translateY(-35px) rotate(45deg);
        -o-transform: translateY(-35px) rotate(45deg);
        transform: translateY(-35px) rotate(45deg);
      }

      .flex-direction-nav li a::after {
        -webkit-transform: translateY(-27px) rotate(-45deg);
        -moz-transform: translateY(-27px) rotate(-45deg);
        -ms-transform: translateY(-27px) rotate(-45deg);
        -o-transform: translateY(-27px) rotate(-45deg);
        transform: translateY(-27px) rotate(-45deg);
      }

      .flex-direction-nav li:last-child a::before {
        -webkit-transform: translateY(-35px) rotate(-45deg);
        -moz-transform: translateY(-35px) rotate(-45deg);
        -ms-transform: translateY(-35px) rotate(-45deg);
        -o-transform: translateY(-35px) rotate(-45deg);
        transform: translateY(-35px) rotate(-45deg);
      }

      .flex-direction-nav li:last-child a::after {
        -webkit-transform: translateY(-27px) rotate(45deg);
        -moz-transform: translateY(-27px) rotate(45deg);
        -ms-transform: translateY(-27px) rotate(45deg);
        -o-transform: translateY(-27px) rotate(45deg);
        transform: translateY(-27px) rotate(45deg);
      }

      .no-touch .cd-see-all:hover {
        color: #79b6e4;
      }



      .cd-light.cd-testimonials-wrapper {
        background: #fff
      }

      .cd-light.cd-testimonials-wrapper::after {
        color: rgba(32, 32, 34, 0.9);
        background: #f0f0f0;
      }

      .cd-light .cd-testimonials {
        color: #39393c;
      }

      .cd-light .flex-direction-nav li a::before,
      .cd-light .flex-direction-nav li a::after {
        background-color: #39393c;
      }

      .cd-light .flex-direction-nav li:hover {
        background: #eee;
      }

      .iw-promise {
        background: white;
      }

      .iw-promise h5 {
        font-weight: 600;
        padding: 10px;
        border-bottom: 1px solid silver;
        text-transform: uppercase;
        word-spacing: 3px;
      }

      .iw-promise h6 {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        color: white;
      }

      .iw-promise .col {
        background: #454545;
        border: 1px solid silver;
      }

      .iw-promise-icon .col img {
        margin: 10px 0px 0px 20px;
      }

      .iw-faq {
        background: white;
        padding: 10px;
        margin-top: -18px;
      }

      .iw-faq a {
        color: black!important;
        font-weight: 600;
        font-size: 16px;
      }

      .iw-faq a i {
        float: right;
      }

      .iw-process {
        background: white;
      }

      .iw-process button {
        margin: 15px!important;
        width: 92%!important;
      }



      .iw-process-icon label {
        display: block;
        padding: 6px;
        text-align: center;
        color: white;
        font-size: 12px;
        font-weight: 600;
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer */
        -khtml-user-select: none;
        /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none;
        /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none;
      }

      input[type=checkbox] {
        display: none;
      }

      input:checked+label {
        color: white;
        background-color: #5380f2;
      }

      .iw-process h5 {
        font-weight: 600;
        padding: 10px;
        text-transform: uppercase;
        word-spacing: 3px;
        border-bottom: 1px solid silver;
      }

      .iw-process-btn {
        border-color: #5380f2!important;
        background-color: #5380f2;
        color: #fff;
      }

      .iw-process .iw-feature {
        font-size: 12px;
        border-color: #5380f2;
        background-color: #5380f2;
        color: #fff;
        width: auto!important;
        float: right;
        margin: -47px 5px 0px 5px!important;
        padding: 6px 10px!important;
      }

      .iw-process-icon .col img {
    margin: 0 auto;
    display: block;
}

      .iw-process-icon .col {
        border: 2px solid silver;
        background: #484545;
      }
      /*home css end*/
      /*Service css*/

      .iw-banner-service img {
        width: 100%;
        height: 200px;
      }

      .iw-service {
        background: white;
      }

      .iw-service h2 {
        color: #8e7f7f;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
      }

      .iw-service p {
        font-size: 12px;
        color: #6b6161;
        white-space: pre-line;
      }

      .card>.item-avatar,
      .item-avatar,
      .item-avatar .item-content,
      .item-avatar-left,
      .item-avatar-left .item-content {
        padding-left: 60px!important;
      }

      .item-avatar .item-content .item-image,
      .item-avatar .item-content>img:first-child,
      .item-avatar .item-image,
      .item-avatar-left .item-content .item-image,
      .item-avatar-left .item-content>img:first-child,
      .item-avatar-left .item-image,
      .item-avatar-left>img:first-child,
      .item-avatar>img:first-child {
        border-radius: 0!important;
        left: 16px;
        max-height: 30px!important;
        max-width: 30px!important;
      }

      .iw-point {
        background: white;
        margin-top: 8px;
      }

      .iw-point h2 {
        color: #5380f2;
        background: white;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
      }

      .iw-point ul {
        list-style: none;
        padding: 5px;
        margin: 0;
      }

      .iw-point li {
        padding-left: 2em;
        text-indent: -1.5em;
        color: #736f6f;
        font-size: 12px;
      }

      .iw-point ul li::before {
        content: "•";
        color: #5380f2;
        font-size: 22px;
        padding-right: 10px;
      }
      /*Service css end*/
      /*address start here*/

      #msform {
        width: auto;
        margin: 50px auto;
        text-align: center;
        position: relative;
      }

      #msform fieldset:not(:first-of-type) {
        display: none;
      }
      /*inputs*/

      #msform input,
      #msform textarea {
        border: 2px solid #ccc;
        border-radius: 0px;
        padding: 0px 6px;
        margin: 0px 0px 10px;
        box-sizing: border-box;
        font-size: 14px;
      }
      /*buttons*/

      .popup-buttons .button {
        padding: 0!important;
      }

      .disable-user-behavior:hover {
        background: #484545!important;
      }

      #msform .iw-action-button {
        font-size: 16px;
        background: #5380f2!important;
        border-color: #5380f2;
        color: #fff;
        width: 92%!important;
        margin: 15px!important;
        text-transform: uppercase;
      }


      #msform .action-button:hover,
      #msform .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
      }
      /*headings*/

      .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
      }

      .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 20px;
      }
      /*progressbar*/

      #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
      }

      #progressbar li {
        list-style-type: none;
        color: #5380f2;
        text-transform: uppercase;
        font-size: 10px;
        width: 20%;
        float: left;
        position: relative;
      }

      #progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 30px;
        line-height: 30px;
        display: block;
        font-size: 16px;
        color: #333;
        background: white;
        border-radius: 3px;
        border: 1px solid silver;
        margin: 0 auto 5px auto;
      }
      /*progressbar connectors*/

      #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: black;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1;
        /*put it behind the numbers*/
      }

      #progressbar li:first-child:after {
        /*connector not needed before the first step*/
        content: none;
      }
      /*marking active/completed steps green*/
      /*The number of the step and the connector before it = green*/

      #progressbar li.active:before,
      #progressbar li.active:after {
        background: #5380f2;
        color: white;
        border: none;
      }

      .iw-service-col {
        padding: 0!important;
        margin: 0!important;
        text-align: left;
        position: inherit!important;
      }



      .iw-button-balanced {
        width: 40%!important;
      }

      .iw-new-address h4 {
        font-size: 16px;
        font-weight: 400;
        margin: 20px 10px 10px;
        text-align: left;
      }

      .iw-new-address button {
        float: right;
        margin: 10px;
        background: #5380f2;
        color: white;
        cursor: pointer;
      }

      .iw-new-address a {
        float: right;
        margin: 10px;
      }

      .flp div {
        position: relative;
        margin-bottom: 30px;
      }

      .flp input,
      .flp label {
        width: 100%;
        font: inherit;
        font-size: 16px;
        line-height: 24px;
        height: 46px;
        border: 1px solid #999;
      }

      .flp input {

        outline: none;
        text-indent: 10px;
      }

      .flp label {
        position: relative;
        left: 0;
        top: 0;
        border-color: transparent;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        cursor: text;
      }
      /*label styles*/

      .ch {
        display: block;
        float: left;
        position: relative;
        /*for upward animation*/
        background: white;
      }

      .ch:first-child {
        padding-left: 2px;
      }

      .ch:last-child {
        padding-right: 2px;
      }
      /*active input label*/

      .focussed {
        /*when any input is already focussed clicking on it(label) again won't do anything*/
        pointer-events: none;
      }




      .switch-field input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
      }

      .switch-field label {
        float: left;
      }

      .switch-field label {
        display: inline-block;
        width: 33%;
        background-color: #e4e4e4;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        text-shadow: none;
        padding: 6px 14px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }

      .switch-field label:hover {
        cursor: pointer;
      }

      .switch-field input:checked+label {
        background-color: #5380f2;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      .switch-field label:first-of-type {
        border-radius: 4px 0 0 4px;
      }

      .switch-field label:last-of-type {
        border-radius: 0 4px 4px 0;
      }
      /*address end here*/
      /*time slot*/

      .iw-timeslot {
        padding: 0!important;
        margin: 0!important;
        position: inherit!important;
      }

      .iw-timeslot .row {
        padding: 0;
      }

      .iw-timeslot h3 {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        margin: 10px;
      }

      .iw-timeslot .iw-date {
        width: 100%;
        text-indent: 15px!important;
      }

      .iw-date {
        background-image: url("../img/calendar2.png");
        background-repeat: no-repeat;
        background-position: 0px -1px;
      }

      .iw-service-detail {
        padding: 0;
        margin: 0;
      }

      .iw-service-detail h4 {
        font-size: 16px;
        font-weight: 400;
        margin: 20px 10px 10px;
        text-align: left;
      }

      .iw-service-detail h5 {
        font-size: 15px;
        font-weight: 600;
        text-align: left;
        text-transform: uppercase;
        color: #2e2e39;
        margin: 0 0px 5px;
      }

      .iw-service-detail p {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
      }

      .iw-service-detail img {
        box-shadow: none;
      }

      .iw-service-detail .col-md-8 {
        margin-left: 10px;
      }

      .iw-set img {
        position: absolute;
        top: 51px;
        box-shadow: none;
        background: #ed5858;
        pointer-events: none;
      }

      .iw-set1 img {
        position: absolute;
        top: 143px;
        box-shadow: none;
        background: #ed5858;
        pointer-events: none;
      }

      .iw-successful {
        margin: 0;
        padding: 0;
        border: 1px solid rgba(192, 192, 192, 0.3);
        background: #484545!important;
      }

      .iw-successful hr {
        width: 50%;
        border-style: ridge;
      }

      .iw-successful img {
        display: block;
        background: white;
        padding: 10px;
        margin: auto;
        border-radius: 50%;
      }

      .iw-successful h4 {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: white;
      }

      .iw-successful h5 {
        text-align: center;
        color: white;
      }

      .iw-successful h3 {
        font-size: 18px;
        text-align: center;
        color: white;
      }

      .iw-successful-btn .button {
        width: 92%!important;
        margin: 15px;
        font-size: 18px;
      }

      .iw-set select {
        width: 100%!important;
        height: 34px;
        border: 1px solid silver;
        border-radius: 3px;
      }

      .iw-set1 select {
        width: 100%!important;
        height: 34px;
        border: 1px solid silver;
        border-radius: 3px;
      }


      .servicebox input[type=radio] {
        display: none;
      }

      .servicebox input:radio+label {
        color: white;
        background-color: #eb5050;
      }

      .divider {
        border: 1px solid #E0DFDF;
        width: 0px;
        float: left;
        height: 189px;
        margin-left: 3%;
      }

      .add:hover {
        background-color: #b95d1d;
      }

      .estimator_menu {
        display: none;
        float: right;
        margin-top: 33px;
      }

      .decrement {
        padding: 3px 9px;
        border: 1px solid #E0DFDF;
        border-radius: 3px;
        cursor: pointer;
      }

      .quantity {
        margin: 5px 6px 0 6px;
      }

      .increment {
        padding: 3px 8px;
        border: 1px solid #E0DFDF;
        border-radius: 3px;
        cursor: pointer;
      }

      .estimator_menu p {
        float: left;
      }

      p.decrement:hover,
      p.increment:hover {
        background: #f7f7f7;
      }

      .estimator {
        position: fixed;
        top: 43px !important;
        right: 50px;
        padding: 10px;
        background: #f57a1d;
        color: white;
        border-radius: 12px;
        box-shadow: #CECECE 2px 2px 5px 2px;
        display: none;
      }

      .estimator img {
        width: 32px;
        float: left;
      }

      .estimator p {
        color: #053169;
        margin-left: -35px;
        font-weight: bolder;
        width: 38px;
        float: left;
        text-align: center;
        margin-top: 11px;
        z-index: 99999;
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -webkit-transform: rotate(0deg);
        /* Safari and Chrome */
        -o-transform: rotate(0deg);
      }

      .estimator span {
        margin-top: 7px;
        margin-left: 4px;
        float: left;
      }

      #price_list ul {
        overflow: auto;
        margin-bottom: 100px;
      }

      .item button {
        float: right;
        background: #f57a1d;
        border: none;
        color: white;
        cursor: pointer;
        padding: 10px 23px;
        margin-top: 30px;
        border-radius: 3px;
      }
      /*.login .item {
  padding-left:6%!important;
  padding-right:6%!important;

}*/

      .iw-padding {
        padding-left: 3%!important;
        padding-right: 3%!important;
      }
      /*.button-bar{
      padding-left: 6%;
    padding-right: 8%;
}*/

      .iw-background {
        background-color: #484545;
      }

      .pac-container {
        pointer-events: auto!important;
        touch-events: none!important;
        font-size: 15px!important;
        z-index: 9999999!important;
        touch-events: none;
        pointer-events: auto;
      }
      /* 
      .pac-container {
        background-color: #FFF;
        z-index: 2001;
        position: fixed;
        display: inline-block;
        float: left;
      } */
      /* .modal {
        z-index: 20;
      }

      .modal-backdrop {
        z-index: 10;
      } */

      ​ .button:hover {
        background-color: #484545!important;
        text-decoration: none;
      }

      .iw-pakages {
        color: white;
        text-align: center;
        font-weight: 600;
      }

      .iw-table {
        background: white;
        opacity: .9;
        width: 100%;
      }

      .iw-footer {
        padding-bottom: 10px;
        background: white;
        opacity: .9!important;
      }

      .iw-content .avatar {
        background-position: center;
        background-size: cover;
        border-radius: 50%;



        left: 10px!important;
      }



      .card-footer input {
        font-size: 12px;
        min-height: 40px!important;
        display: block;
        margin: 10px auto;
      }

      .card-footer label {
        font-size: 14px;
        display: list-item;
        text-align: center;
        color: red;
      }

      .iw-content ul {
        font-weight: 400;
        display: -webkit-inline-box;
        color: black;
      }

      .iw-content ul li {
        margin-left: 5px;
        color: #7498f3;
      }

      .iw-content h4 {
        margin-left: 6%;
        font-size: 14px;
        font-weight: 600;
        margin-top: 0;
      }

      .iw-table tbody tr td:nth-child(1) {
        color: black;
        font-weight: 500;
        line-height: 3;
        padding-left: 50px;
      }

      .iw-table tbody tr td:nth-child(2) {
        color: #7498f3;
        font-weight: 500;
      }

      .item-accordion p:nth-child(2) {
        white-space: pre-wrap;
      }

      .item-accordion p:nth-child(1) {
        color: #5380f2!important;
        white-space: pre-wrap!important;
      }

      .iw-subs {
        text-align: center;

        margin: 20px;
      }

      .iw-subs li {
        font-size: 16px;
        line-height: 3;
        border-bottom: 1px solid white;
        color: white;
      }

      .item-text-wrap {
        padding-bottom: 10px;
        background: linear-gradient(60deg, #5380f2, #4970d2)!important;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      }

      .card-footer .iw-sub {
        background: white!important;
        font-size: 12px;
        display: block;
        margin: 10px auto;
        min-height: 40px!important;
        color: black!important;
      }

      .iw-category {
        color: white;
        padding-top: 10px;
      }

      .iw-contents h1 small:first-child {
        position: relative;
        top: -17px;
        font-size: 26px;
      }

      .iw-contents h1 {
        color: white;
        font-weight: 700;
        text-align: center;
      }

      .card-footer {
        opacity: .9!important;
      }

      .iw-new-detail h3 {
        font-weight: 500;
        text-align: left!important;
        margin: 0px 4px!important;
      }

      .iw-new-detail p {
        text-align: left!important;
        margin: 0;
        font-size: 14px!important;
      }

      .iw-bg-img {
        background-image: url(/img/servicebanner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }

      .iw-content .label {
        border-radius: 12px;
        padding: 5px 12px;
        text-transform: uppercase;
        font-size: 10px;
        margin: 40px;
      }

      .iw-contents .label {
        border-radius: 12px;
        padding: 5px 12px;
        text-transform: uppercase;
        font-size: 10px;
        margin: 40px;
      }

      .label.label-danger {
        background-color: #f44336;
      }

      .label.label-success {
        background-color: #4caf50;
      }

      .label.label-warning {
        background-color: #ff9800;
      }

      .header-item {
        left: 0px!important;
        right: 0px!important;
        font-size: 16px!important;
        font-weight: 600;
        font-family: "Roboto", sans-serif!important;
      }

      .bar .title.title-left {
        text-align: center!important;
      }

      .branch-iw select {
        height: 30px;
        border-radius: 4px
      }

      .quantityform p {
        font-size: 14px!important;
        padding-right: 20px;
        color: black;
        font-weight: 400!important;
      }

      .quantityform .item p:nth-child(1) {
        padding-left: 5px;
      }
      /*.quantityform .item {
        display: flex;
      }*/

      .quantityform .card {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
        display: block;
        margin: 20px 2px!important;
        ;
        padding: 0;
        position: relative;
      }

      .item-radio {
        font-size: 18px!important;
        font-weight: 500!important;
        border-bottom: 1px solid silver!important;
      }

      .iw-qtyss h4 {
        margin-left: 0px!important;
      }
.faq-cat p{
  color: black!important;
  font-weight: 100!important;
}