
    <div class="iw-faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="iw-head">FREQUENTLY ASKED QUESTIONS</h2>
                    <div class="col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0 iw-faq-page">
                        <div ng-repeat="faq in faqs">
                     <h2 ng-bind="faq.name"></h2>
                    <hr>
                        <p ng-repeat="quest in faq.faqs"><span><b>Q. {{quest.question}}<br></b></span>{{quest.answer}}</p>
                     
                            
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
   