
    <div class="iw-faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="iw-head">Features</h2>
                    <div class="col-md-3" ng-repeat="feature in servicesfeatures">
					<div class="card card-pricing card-background card-raised" style="background-image: url({{api_url+feature.image_banner}})">
						<div class="card-content">
							<h6 class="category text-info" ng-bind="feature.name"></h6>
							<!--
							<h1 class="card-title"><small>QRS</small>{{feature.price}}<small>Per {{feature.per}}</small></h1>
							-->
							<ul>
								<li ng-repeat="feat in feature.service_features">{{ feat.title}}</li>
							</ul>
						</div>
					</div>
				</div>

				
				
				</div>
				</div>
				</div>
				</div>

