    <div class="iw-ban" style="background-image: url(./assets/img/mainbanner.jpg); background-repeat: no-repeat; background-size: cover; height: 650px;">
        <div class="container">
            <div class="row" style="margin-top: 130px;">
                <div class="col-md-8 col-md-offset-2 text-center iw-h">
                    <h1 class="title iw-t">DOHA'S BEST LAUNDRY AND DRY CLEANING SERVICES IS HERE.</h1>
                    <h4>Washing & Dry Cleaning at your Convenience</h4>
                    <h4>15% Off* on your first order. Use Coupon Code FIRST15</h4>
                </div>
                <div class="col-md-10 col-md-offset-1" style="margin-top: 30px;">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-4 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">
                            <a href="#"><img src="assets/img/play.png"></a>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-4">
                            <a href="#"><img src="assets/img/store.png"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-6 col-md-offset-5 col-xs-offset-3 col-sm-offset-4 iw-h text-center">
                            <h4>OR</h4>
                            <a href="#/placeorder/step1" class="btn btn-primary1">Place Order</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="iw-get-app">
                <div class="col-md-3 col-md-offset-3" style="    margin-top: 15px;">
                    <h3 class="iw-text">Download Our Mobile App</h3>
                </div>
                <div class="col-md-5" style="    margin-top: 15px;">
                    <div>
                        <input type="text" name="iwash" class="iw-get" placeholder="Enter 8 Digit Mobile No.">
                        <input type="button" name="iWash-btn" value="Download" class="btn btn-rose btn-raised iw-btn">
                    </div>
                </div>
            </div>
            <div class="team-1 iw-team" id="howitworks">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="title">HOW IT WORKS FOR YOU?</h2>
                            <h5 class="description">We have different types of services to handle different types of clothes, in short this is what we do!</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                <img class="img" src="assets/img/download1.png">
                            </a>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Download Our Mobile App</h4>
                                    <p class="card-description">
                                        Place order using our Mobile App or Order through Website/Call.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                <img class="img" src="assets/img/pickup.png">
                            </a>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">ORDER A PICK UP</h4>
                                    <p class="card-description">
                                        We pick your orders as per your membership plans….
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                <img class="img" src="assets/img/delivery.png">
                            </a>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">WE DELIVER</h4>
                                    <p class="card-description">
                                        We deliver as per your convenience.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cd-section" id="testimonials">
                <!--     *********    TESTIMONIALS 1     *********      -->
                <div class="testimonials-1 section-image" style="background-image: url('assets/img/back-img.jpg')">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <h2 class="title">Serving Happiness</h2>
                                <h5 class="description">Customer Satisfaction Drives Us</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" ng-repeat="test in testimonials">
                                <div class="card card-testimonial">
                                    <div class="icon">
                                        <i class="material-icons">format_quote</i>
                                    </div>
                                    <div class="card-content">
                                        <h5 class="card-description" ng-bind="test.message">
                            </h5>
                                    </div>
                                    <div class="footer">
                                        <h4 class="card-title" ng-bind="test.name"></h4>
                                        <h6 class="category" ng-bind="test.designation"></h6>
                                        <div class="card-avatar">
                                            <a href="#pablo">
                                    <img class="img" src="{{api_url+test.profile}}">
                                </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <!--     *********    END TESTIMONIALS 1      *********      -->
            </div>
            <div class="team-2" id="myLocation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="title">Our Operational Areas</h2>
                            <h5 class="description">We serve Qatar.</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-image">
                                    <a href="#pablo">
                                <img class="img" src="assets/img/kuwait.jpg">
                            </a>
                                    <div class="colored-shadow" style="background-image: url(assets/img/kuwait.jpg); opacity: 1;"></div>
                                    <div class="ripple-container"></div>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Qatar</h4>
                                    <h6 class="category text-muted">Dec 2017</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-image">
                                    <a href="#pablo">
                                <img class="img" src="assets/img/dubai.jpg">
                            </a>
                                    <div class="colored-shadow" style="background-image: url(assets/img/dubai.jpg); opacity: 1;"></div>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Qatar</h4>
                                    <h6 class="category text-muted">Dec 2017</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-image">
                                    <a href="#pablo">
                                <img class="img" src="assets/img/qatar.jpg">
                            </a>
                                    <div class="colored-shadow" style="background-image: url(assets/img/qatar.jpg); opacity: 1;"></div>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Qatar</h4>
                                    <h6 class="category text-muted">Dec 2017</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="features-5" style="background-image: url('assets/img/clothes.jpg')">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Why Us?</h2>
                    <h5 class="iw-description">Customer Satisfaction Drives Us</h5>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <h4 class="info-title">Eco-Friendly</h4>
                                <p>Our front loading machines consume 3 times less water than the conventional washing machines</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="fa fa-tablet"></i>
                                </div>
                                <h4 class="info-title">Convenience</h4>
                                <p>We schedule pickup and drop as per your convenience.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="fa fa-check-circle"></i>
                                </div>
                                <h4 class="info-title">Quality</h4>
                                <p>We use products that revive your clothes and give a new feel to them.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="fa fa-money"></i>
                                </div>
                                <h4 class="info-title">Affordable</h4>
                                <p>The amount we charge is equivalent to the cost you bear to get the laundry done at your home.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="fa fa-archive"></i>
                                </div>
                                <h4 class="info-title">Packaging</h4>
                                <p>Your clothes are delivered at your doorstep with the perfect crease.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">people</i>
                                </div>
                                <h4 class="info-title">Community</h4>
                                <p>We collect your donated clothes and spread your love & care to the needy ones.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-1 iw-team" id="team-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="title">Our Services</h2>
                            <h5 class="description">Your time is the most valuable thing you gain</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" ng-repeat="service in categorieshome">
                            <div class="rotating-card-container">
                                <div class="card card-rotate card-background" style="background-image: url({{api_url+service.image_website}});">
                                    <!-- <img ng-src="{{api_url+service.image_website}}" /> -->
                                    <div class="front">
                                        <div class="card-content iw-content">
                                            <h6 class="category text-info" ng-bind="service.name"></h6>
                                            <a href="#pablo">
                                               <!-- <h3 class="card-title"> QRS {{service.price}}</h3>-->
                                            </a>
                                            <p class="card-description">(Per {{service.per}})</p>
                                        </div>
                                    </div>
                                    <div class="back back-background" style="background-image: url('assets/img/washing.jpg');">
                                        <div class="card-content">
                                            <h5 class="card-title">
                                                    iWash Laundry
                                                </h5>
                                            <p class="card-description">48 hrs Turnaround Combined Packaging For Casual & Regular Wear</p>
                                            <div class="footer text-center">
                                                <a href="#" class="btn btn-primary btn-round">
                                                        Know More...
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12 text-center">
                            <a href="#/pricing" class="btn btn-primary1">VIEW  RATELIST</a>
                        </div>
                    </div> -->
                </div>
            </div>



            <div class="pricing-1 section-image" id="packages" style="background-image: url('assets/img/back-img.jpg')" id="pricing-1">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="title">Pick the best laundry packages for you</h2>
                    <h5 class="description">You have Free Unlimited Updates and Premium Support on each package.</h5>
                    <div class="section-space"></div>
                </div>
            </div>

            <div class="row">

              

                <div class="col-md-3" ng-repeat="pack in monthlypackages">
                    <div class="card card-pricing card-raised">
                        <div class="card-content">
                            <h6 class="category" ng-bind="pack.name"></h6>
                            <div class="icon icon-rose">
                                <i class="fa fa-shopping-bag"></i>
                            </div>
                            <h3 class="card-title">QRS {{pack.price}}</h3>
                            <p class="card-description" >
							{{ pack.available_packages.substring(0, pack.available_packages.lastIndexOf(","))+' / '+pack.available_packages.substring(pack.available_packages.lastIndexOf(",") + 1)
}}Months
                               


                            </p>
                            <a ng-href="#/subscribe?package={{monthlypackages.id}}"  class="btn btn-primary1 btn-round">Choose Plan</a>
                        </div>
                    </div>
                </div>
                   

            
             

            </div>

        </div>
    </div>

        </div>
    </div>
   