<style>
	.card .content-rose {
    background: linear-gradient(60deg, #5380f2, #4970d2)!important;
}
</style>
<div class="iw-faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="iw-head">Subscribed Package</h2>
                <div ng-cloak class="col-md-4" ng-if="subscriptions!=null">
					<div class="card card-pricing card-raised" >
						<div class="card-content content-rose btn-primary1">	
							<h1 class="card-title" style="margin:0"><small>QTR</small >{{subscriptions.package.price}}<small>/mo</small></h1>
							<ul>
									<li><label>Package Name :</label> <b ng-bind="subscriptions.package.name"></b></li>
								<li><label>Amount :</label> <b ng-bind="subscriptions.amount_paid"></b> QTR</li>
									<!-- <li> <p ng-repeat="services in subscriptions.subscribe_services"><b ng-bind="services.quantity" ></b> {{services.service.name}}  ({{services.category.name}})</p></li> -->
								<li><label>Duration :</label> <b ng-bind="subscriptions.duration"></b> Month</li>
								<li><label>Start Date :</label> <b ng-bind="subscriptions.start_date|date:'medium'"></b></li>
								<li><label>End Date :</label> <b ng-bind="subscriptions.end_date|date:'medium'"></b></li>
								<li><label>Remaining :</label> <b ng-bind="subscriptions.quantity_used"></b></li>
								<li>	<b ng-if="subscriptions.status==1">Already subscribed</b></li>
								<!-- <li ng-bind="subscriptions.pickup_option"></li> -->
							</ul>
							
							
						
							<a ng-click="confirmcancel(subscriptions.id)" class="btn btn-white btn-raised btn-round" ng-if="subscriptions.status==1 && subscriptions.payment_status==0 && subscriptions.quantity_used==subscriptions.package.qty_clothes" >
								Unsubscribe
							</a>

							<div><span ng-if="subscriptions.payment_status==0" class="label label-danger">Payment Pending</span></div>
							<div><span ng-if="subscriptions.payment_status==1" class="label label-success">Payment Done</span></div>
							<div><span ng-if="subcribepackage==true && subscriptions.payment_status==1 && islimitUsed==true" class="label label-warning">limit Used</span></div>
							
							
							
					   
						</div>
					</div>
				
				</div>
				<div ng-cloak ng-if="subscriptions==null" class="noresult">Currently No Subscription</div>
				<div ng-cloak ng-if="subscriptions.status==0&&subscriptions.active==0" class="noresult">Currently No Subscription</div>
				<a href="#/subscribe">
					<button type="button" ng-if="subscriptions==null" class="btn btn-primary">Subscribe</button>
				</a>
            </div>
        </div>
    </div>
</div>



