<!-- <ion-view view-title="Confirm order" style="background: #ffffff">
  <ion-content> -->
    <div class="iw-address flat">
      <!-- multistep form -->
      <div id="msform">
        <ul id="progressbar">
          <li class="active">Address</li>
          <li class="active">Service</li>
          <li class="active">Quantity</li>
          <li class="active">Schedule</li>
          <li class="active">Confirm</li>
        </ul>
        <hr>

        <fieldset class="iw-service-detail">
          <h4>Service Details</h4>
          <form name="confirmorder">
            <div class="card iw-stable-bg ">
              <ion-grid class="grid">
                <ion-row class="row">
                  <ion-col class="col col-20">
                    <img src="img/wm.png">
                  </ion-col>
                  <ion-col class="col col-80">

                    <div class="iw-qtys iw-qtyss">
                      <h4 ng-if="currentorder.currentSubscription==null || $parent.currentorder.useSubscription==0">Services under - {{$parent.currentorder.service.name}}</h4>
                      <h4 ng-if="currentorder.currentSubscription!=null && $parent.currentorder.useSubscription==1">Services under you package - {{$parent.currentorder.currentSubscription.monthly_package.package}}</h4>
                      <p>Total Amount :QRS {{currentorder.newobj.address.totalPrice}}</p>
                      <h4 class="text-left">Items</h4>

                      <ol>
                        <li class="text-left">{{currentorder.newobj.address.cart_quantity}}</li>

                      </ol>
                    </div>
                  </ion-col>
                </ion-row>

                <hr>
                <ion-row class="row">
                  <ion-col class="col col-20">
                    <img src="img/calendar1.png">
                  </ion-col>

                  <ion-col class="col col-20">
                    <p>Item Name</p>
                    <p ng-repeat="x in currentorder.newobj.data">{{x.servicename}}</p>

                  </ion-col>

                  <ion-col class="col col-20">
                    <p>Wash</p>
                    <p ng-repeat="x in currentorder.newobj.data">{{x.qty_w}}</p>

                  </ion-col>
                  <ion-col class="col col-20">
                    <p>DryClean</p>
                    <p ng-repeat="x in currentorder.newobj.data">{{x.qty_dc}}</p>


                  </ion-col>

                  <ion-col class="col col-40">
                    <p>Iron</p>
                    <p ng-repeat="x in currentorder.newobj.data">{{x.qty_ir}}</p>

                  </ion-col>

                  <ion-col class="col col-40">
                    <p>Total Price</p>
                    <p ng-bind="currentorder.newobj.address.totalPrice"></p>

                  </ion-col>
                 

                </ion-row>

                <ion-row class="row">

                    <ion-col class="col col-20">
                        <img src="img/map.png">
                      </ion-col>
                  <ion-col class="col col-20">
                    <p>Package Quantity</p>
                    <p ng-if="currentorder.mysubscription.remaining_qty>=0" ng-bind="currentorder.mysubscription.package.qty_clothes"></p>

                  </ion-col>
                  <ion-col class="col col-20">
                    <p>Remaining Quantity</p>
                    <p ng-if="currentorder.mysubscription.remaining_qty>=0" ng-bind="currentorder.mysubscription.remaining_qty"></p>

                  </ion-col>

                  <ion-col class="col col-20">
                    
                    <p ng-if="currentorder.mysubscription.remaining_qty<0" ng-bind="currentorder.mysubscription.message"></p>

                  </ion-col>

               
                </ion-row>


                <hr>
                <ion-row class="row">
                  <ion-col class="col col-20">
                    <img src="img/map.png">
                  </ion-col>
                  <ion-col class="col col-80">
                    <h5>{{currentorder.address.addresstype}}</h5>
                    <p>{{currentorder.address.street}}</p>
                    <p>{{currentorder.address.landmark}}</p>
                    <!-- <p></p> -->
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <!-- <input type="button" name="previous"  ng-click="gotoStep(5)" class="previous iw-button-balanced button button-raised button-stable ink-dark" value="TIMESLOT" /> -->
            <input type="submit" name="submit" class="submit iw-button-balanced button button-assertive" value="CONFIRM ORDER" ng-click="placeOrder()"
            /> 
          
          </form>
        </fieldset>

      </div>
    </div>
  </ion-content>
</ion-view>