
    <a href="#" id="scroll" style="display: none;"><span></span></a>
    <div class="iw-faq">
        <div class="container">
            <h2 class="iw-head">Order History</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2"  ng-show="notfound" ng-if="notfound"> 
                    <div class="iw-boxes iw-img">
                    <img src="assets/img/shopping-basket.png">
                   <h3>No Order History</h3>
                   <p>Look like you don't have any past orders, Schedule your pickup for amazing wash experience!</p>
      <a class="btn btn-danger">Schedule Pickup</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="iw-boxes">
                        <div class="iw-detail" ng-repeat="order in allorders">
                            <div class=" iw-order-placed">
                                <h6>{{order.createdAt | date:'medium'}}</h6>
                                <div class="card iw-stable-bg">
                                    <a href="#/order-details/{{order.id}}" class="item item-body">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                    <td>IW{{order.id}}</td>
                                                    <td>Order {{order.status}}</td>
                                            </tr>
											 <tr >
                                                <td>Total Quantity</td>
                                                <td>{{order.qty}}</td>
                                            </tr>
                                            <!-- <tr ng-if="order.order_type=='simple'">
                                                <td>Service</td>
                                                <td>{{order.category.name}}</td>
                                            </tr> -->
											
                                                <!-- <tr>
                                                    <td>Pickup By</td>
                                                    <td>{{order.pickupDate}}- {{order.pickuptime.timebetween}}</td>
                                                </tr> -->
                                                <!-- <tr>
                                                    <td>Delivery By</td>
                                                    <td>{{order.deliveryDate}}- {{order.deliverytime.timebetween}}</td>
                                                </tr> -->
                                                <tr>
                                                    <td>Bill Amount</td>
                                                    <td>{{order.payment_status==1?'QRS '+order.totalamount:'Invoice Not Generated'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Payable Amount</td>
                                                    <td>{{order.payment_status==1?'QRS '+order.totalamount:'Invoice Not Generated'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </a>
                                    <div class="item tabs iw-tabs-secondary" ng-if="order.status=='placed'">
                                        <!--
                                        <a class="tab-item">
                                            <i class="fa fa-calendar"></i>  Reschedule Order
                                        </a>
                                        -->
                                        
                                        <a class="tab-item"  ng-click="confirmordercancel($index,order.id)">
                                          <i class="fa fa-times-circle"></i> Cancel Order
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <a ng-if="!moreresults" class="btn btn-primary1" style="width: 50%; margin:auto; display: block;"  ng-click="loadMoreOrders()" distance="2%">Load More</a>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
    </div>
   