
    <a href="#" id="scroll" style="display: none;"><span></span></a>
    <div class="iw-faq">
        <div class="container">
            <h2 class="iw-head">Order Details</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2" ng-if="order.status!='cancelled'">
                    <div class="iw-boxes">
                        <div class="card iw-detail-page">
                            <h4>Order ID  -  Iw{{order.id}}</h4>
                            <h3 ><a   ng-click="confirmordercancel(order.id)">Cancel Order</a></h3>
                            <div class="item item-body">
                                <div class="iw-sad-img">
                                    <img src="assets/img/calendar.png">
                                    <h5>Order {{order.status}}</h5>
                                    <!-- <div class="row"> -->
                                    <!-- <div class="col-md-6">
                                        <h2>Pick Up</h2>
                                        <p>{{order.pickupDate}}</p>
                                        <p>{{order.pickuptime.timebetween}}</p>
                                    </div> -->
                                    <!-- <div class="col-md-6">
                                        <h2>Delivery</h2>
                                        <p>{{order.deliveryDate}}</p>
                                        <p>{{order.deliverytime.timebetween}}</p>
                                    </div> -->
                                    <!-- </div> -->
                                    <hr>
                                    <h4>Information</h4>
                                    <div class="ta">
  <table class="table table-infos">
                                    <tbody>
                                    <!-- <tr class="bg-change" >
									
                                        <td ng-if="order.order_type=='simple'">Service Category:</td>
                                        <td ng-if="order.order_type=='simple'">{{order.category.name}}</td>
                                    </tr> -->
									 <!-- <tr >
                                                <td>Order Type</td>
                                                <td>{{order.order_type  | uppercase}}</td>
                                            </tr>
											 -->
											 <!-- <tr >
                                                <td>Services</td>
											 <td> <p  ng-repeat="service in order.order_services">{{service.quantity}} {{service.service.name}}  ({{service.service.price}} QRS Per {{service.service.per}}){{service.service.category.name}}</p> </td>
                                            </tr> -->
											
                                    <tr>
                                        <td>Bill Amount:</td>
                                        <td>{{order.payment_status==1?'QRS '+order.totalamount:'Invoice Not Generated'}}</td>
                                    </tr>
                                    		
                                    <tr>
                                        <td>Total Quantity:</td>
                                        <td>{{order.qty}}</td>
                                    </tr>
                                    <!-- <tr>
                                        <td>Total Quntity:</td>
                                        <td>{{order.qty}}</td>
                                    </tr> -->
                                    <tr>
                                        <td><p>Address Type :</p>
                                            <p>Street :</p>
                                            <p>Location :</p>
                                            
                                       </td>
                                        <td><strong><p> {{order.addressType}}</p></strong>
                                        <p>{{order.flatandstreet}}</p>
                                        <p>{{order.landmark}}</p></td>
                                    </tr>
                                    </tbody>
                                </table>
                                        
                                    </div>
                                    
                                    <!-- <p>  {{order.payment_status==1?'QRS '+totalamount:''}} </p>
                                    <p ng-if="order.payment_status==0">Invoice detail shall be available here within 24 hours of pickup</p> -->
								<!--     <button class="btn btn-danger">RESCHEDULE ORDER<div class="ripple-container"></div></button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2" ng-if="order.status=='cancelled'">
                    <div class="iw-boxes">
                        <div class="card iw-detail-page">
                            <h4>Order ID  -  IW{{order.id}}</h4>
                            <div class="item item-body">
                                <div class="iw-sad-img">
                                    <img src="assets/img/sad.png">
                                    <h5 class="iw-can">Order Cancelled</h5>
                                    <!-- <div class="row">
                                    <div class="col-md-6">
                                        <h2>Pick Up</h2>
                                        <p>{{order.pickupDate}}</p>
                                        <p>{{order.pickuptime.timebetween}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h2>Delivery</h2>
                                        <p>{{order.deliveryDate}}</p>
                                        <p>{{order.deliverytime.timebetween}}</p>
                                    </div>
                                    </div> -->
                                    <hr>
                                    
                                    <p>This Order has been cancelled by you</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
   