   <a href="#" id="scroll" style="display: none;"><span></span></a>
    <div class="iw-faq">
        <div class="container">
            <!--<h2 class="iw-head">Order History</h2>
            !-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="iw-boxes iw-status  iw-img">
                    <div class="iw-success">
                        <h3>Order Successful</h3>
                    <img src="assets/img/checked.png">
                   <h3>Thank you</h3>
                   <hr>
        <h4>Order ID</h4>
        <h3>Iw{{placedorder}}</h3>
        <h4>Refer this ID for further Communication</h4>
                    </div>
                    <div class="iw-p">
                      <p>Delivery time for Dry Cleaning may vary according to garment type</p>
                       <p>The Invoice details & payment option shall be available within 24 hrs of pickup</p>
                       <p>Price quoted are exclusive of service tax</p>
                    </div>
                    
        
      <a class="btn btn-primary" href="/#/myorders">Order Status</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    </div>
 