<style>
table tbody tr td {
    text-align: center;
}
table tbody tr td:nth-child(1) {
color: #5380f2;
    font-size: 18px;
    font-weight: 500;
}
</style>
<div class="iw-faq">
    <div class="container-fluid">
        <div id="tables">
            <div class="row">
                <div class="col-md-12 ">
                    <h2 class="iw-head">Laundry Packages</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td style="color: white!important">Packages</td>
                                    <td>Usage Limit</td>
                                    <td>Pickup Option</td>
                                    <td>Available Package</td>
                                    <td>Pricing(For Each Month)</td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat="pack in monthlypackages">
                                    <td ng-bind="pack.package"></td>
                                    <td>
                                        <p ng-repeat="services in  pack.package_services">{{services.quantity}}  {{services.service.name}}({{services.category.name}})</p>
                                      
                                    </td>
                                    <td >{{ pack.pickup_options.split(',').join('/')}}</td>
                                    <td >				{{ pack.available_packages.substring(0, pack.available_packages.lastIndexOf(","))+' & '+pack.available_packages.substring(pack.available_packages.lastIndexOf(",") + 1)
}} Months</td>
                                    <td >QRS {{pack.pricing_for_each_month}}</td>
                                    <!--        
                                    <td ng-if="pack.isSubscribed && pack.isSubscribed==true">
                                            <button class="btn btn-default btn-sm" >Already Subscribed</button>
                                            </td>

                                        -->
                                            <td  ng-if="isLoggedIn">
                                                <a href="#/mysubscription" class="btn btn-default btn-sm"  ng-if="subcribepackage!=false && pack.id==subcribepackage.package_id">Already Subscribed</a>
                                                <a href="#/mysubscription" class="btn btn-danger btn-sm"  ng-if="subcribepackage!=false&& pack.id==subcribepackage.package_id && subcribepackage.payment_status==1 && isLimitUsed==true">Limit Used</a>
                                                
                                                <a href="#/mysubscription"  class="btn btn-danger btn-sm"  ng-if="subcribepackage!=false && pack.id==subcribepackage.package_id && subcribepackage.payment_status==0">Payment Pending</a>
                                        <input type="button" ng-if="subcribepackage==false || (subcribepackage!=false && subcribepackage.payment_status==1 && isLimitUsed==true)" name="next" class="btn  btn-sm btn-primary1" value="Subscribe" ng-click="openSubscribeModal(pack)">
                                                                            


        </td>


                                    
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="modal fade in" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">SUBSCRIBE</h4>
            </div>
            <div class="modal-body modal-change" style="line-height: 3">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="row">
                               <div class="col-lg-12 col-md-12 col-sm-12">
                                 
                                <div class = "input-label" style="font-weight: 400;">
                                    Package : {{curentpackage.package}}
                                   </div>
                                </div>
                               
                               <div class="col-lg-12 col-md-12 col-sm-12">
                                    <!-- <select class="selectpicker" data-style="form-control" title="Choose Pickup Option" data-size="7">
                                        <option disabled>Pickup Options</option>
                                        <option value="2">Alternative/Weekly</option>
                                        <option value="3">Weekly</option>
                                        <option value="4">Alternative</option>

                                        

                                    </select> -->
                                    <label>  Select Pickup Options:
                                    </label>
                                    <select  ng-model="subppack.pickup_option"  name="pickup_option" data-tap-disabled="true">
                                        <option ng-value="{{option.trim()}}" ng-selected="$index==0"  ng-repeat="option in curentpackage.pickup_options.split(',')">{{option.trim()}}</option>
                                       
    
                                        
    
                                    </select>
                                </div>
                               <div class="col-lg-12 col-md-12 col-sm-12">
                                    <!-- <select class="selectpicker" data-style="form-control" title="Choose Duration " data-size="7">
                                        <option disabled> Multiple Options</option>
                                        <option value="2">1 Month</option>
                                        <option value="3">3 Month</option>
                                        <option value="4">6 Month</option>
                                        <option value="5">12 Month</option>

                                    </select> -->
                            <label>Duration(Month):</label>
                                    <select ng-model="subppack.duration"  name="duration"   data-tap-disabled="true">
                                        <option ng-value="{{option.trim()}}"   ng-selected="$index==0"  ng-repeat="option in curentpackage.available_packages.split(',')">{{option.trim()}}</option>
                                     

                                    </select>
                                </div>
                              
                            </div>
                        </div>
                    </div>
   
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary1" ng-click="subscribePack(subppack)">Subscribe</button>
            </div>
        </div>
    </div>
</div>
</div>