
    <div class="iw-faq">
        <div class="container">
            <h2 class="iw-head">Schedule A Pickup</h2>
            <div class="row">
                <section>
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a data-target="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Contact Details">
                            <span class="round-tab">
                                <i class="fa fa-address-card-o"></i>
                            </span>
                            
                        </a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a  aria-controls="#step2" role="tab" title="Address Details">
                            <span class="round-tab">
                                <i class="fa fa-map-signs"></i>
                            </span>
                        </a>
                                </li>
                                <!--<li role="presentation" class="disabled">
                                    <a aria-controls="#step3" role="tab" title="Service Details">
                            <span class="round-tab">
                                <i class="fa fa-motorcycle"></i>
                            </span>
                        </a>
                                </li>-->
                               
                                <li role="presentation" class="disabled">
                                    <a  aria-controls="#step4" role="tab" title="Time">
                            <span class="round-tab">
                                <i class="fa fa-calculator"></i>
                            </span>
                        </a>
                                </li>
                                <!-- <li role="presentation" class="disabled">
                                    <a  aria-controls="Confirm" role="tab" title="Confirm Order">
                            <span class="round-tab">
                                <i class="fa fa-clock-o"></i>
                            </span>
                        </a>
                                </li> -->
                                 <li role="presentation" class="disabled">
                                    <a data-target="#step6" data-toggle="tab" aria-controls="step6" role="tab" title="Service Details">
                            <span class="round-tab">
                                <i class="fa fa-info"></i>
                            </span>
                        </a>
                                </li>
                            </ul>
                        </div>
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="step1">
                                    <div class="row" >
                                        <div class="col-md-6 login ">
                                             <form name="loginForm">
                                                 <div class="input-group">
                                                        <span class="input-group-addon">
                                                        <i class="material-icons">email</i>
                                                        </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Email Address</label>
                                                    <input type="email" ng-model="data.username" required class="form-control"><span class="material-input"></span>
                                                </div>
                                                 </div>
                                             <div class="input-group">
                                                        <span class="input-group-addon">
                                                        <i class="material-icons">lock_outline</i>
                                                        </span>
                                                 <div class="form-group label-floating">
                                                    <label class="control-label">Password</label>
                                                    <input type="password" ng-minlength="8"  ng-model="data.password" required  class="form-control"><span class="material-input"></span>
                                                </div>
                                                 </div>
                                                  <div class="form-group">
                                                     <div class="col-lg-6">
                                                            Not have an account? <a ng-click="settype(2)">Signup here</a>
                                                     </div>
                                                    <div class="col-lg-6">
                                                       <button type="button" class="btn btn-primary " ng-disabled="loginForm.$error.required || loginForm.$error.minlength " ng-click="login()">Login</button>

                                                    </div>
                                                 </div>
                                             </form>
                                        
                                        </div>    
                                        <div class="col-md-6 signup hidden" >
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                                <div class="form-group is-empty label-floating">
                                                    <label class="control-label">First Name</label>
                                                    <input type="text" class="form-control" ng-model="register.fname" required><span class="material-input"></span></div>
                                            </div>
                                                 <div class="input-group">
                                                <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                                <div class="form-group is-empty label-floating">
                                                    <label class="control-label">Last Name</label>
                                                    <input type="text" class="form-control" ng-model="register.lname" required><span class="material-input"></span></div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                                <div class="form-group is-empty label-floating">
                                                    <label class="control-label">Email Address</label>
                                                    <input type="email" class="form-control" ng-model="register.email"  required><span class="material-input"></span></div>
                                            </div>
											  <div class="input-group">
                                                <span class="input-group-addon">
                                                <i class="material-icons">phone</i>
                                            </span>
                                                <div class="form-group is-empty label-floating">
                                                    <label class="control-label">Mobile</label>
                                                    <input type="text" class="form-control" ng-model="register.mobile"  required><span class="material-input"></span></div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                                <div class="form-group is-empty label-floating">
                                                    <label class="control-label">Password</label>
                                                    <input type="password" class="form-control" ng-model="register.password" required ng-minlength="8"><span class="material-input"></span></div>
                                            </div>
                                                 <div class="form-group">
                                                     <div class="col-lg-6">
                                                            Already have an account? <a ng-click="settype(1)">Login here</a>
                                                     </div>
                                                    <div class="col-lg-6">
                                                       <button type="button" class="btn btn-primary" ng-click="signup()" ng-disabled="signupForm.$error.required || signupForm.$error.minlength || signupForm.$error.maxlength">Signup</button>

                                                    </div>
                                                 </div>
                                        </div>
                                        <div class="col-md-6 iw-sign">
                                            <button class="btn btn-social btn-fill btn-google" ng-click="googleLogin()">
                                                <i class="fa fa-google-square"></i> Sign Up With Google+
                                                <div class="ripple-container"></div>
                                            </button>
                                            <b class="text-center"> OR</b>
                                            <button class="btn btn-social btn-fill btn-facebook" ng-click="facebookLogin()">
                                                <i class="fa fa-facebook-square"></i> Sign Up With Facebook
                                            </button>
                                        </div>
                                        
                                    </div>
                                    <ul class="list-inline text-center">
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                            


                          

                           

                                <div class="clearfix"></div>
                            </div>
                        
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>
  