
    <div class="iw-faq">
        <div class="container">
            <h2 class="iw-head">Schedule A Pickup</h2>
            <div class="row">
                <section>
                    <div class="wizard">
                         <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="disabled">
                                    <a data-target="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Contact Details">
                            <span class="round-tab">
                                <i class="fa fa-address-card-o"></i>
                            </span>
                            
                        </a>
                                </li>
                                <li role="presentation" class="active">
                                    <a  aria-controls="#step2" role="tab" title="Address Details">
                            <span class="round-tab">
                                <i class="fa fa-map-signs"></i>
                            </span>
                        </a>
                                </li>
                                <!--<li role="presentation" class="disabled">
                                    <a aria-controls="#step3" role="tab" title="Service Details">
                            <span class="round-tab">
                                <i class="fa fa-motorcycle"></i>
                            </span>
                        </a>
                                </li>-->
                               
                                <li role="presentation" class="disabled">
                                    <a  aria-controls="#step4" role="tab" title="Time">
                            <span class="round-tab">
                                <i class="fa fa-calculator"></i>
                            </span>
                        </a>
                                </li>
                                <!-- <li role="presentation" class="disabled">
                                    <a  aria-controls="Confirm" role="tab" title="Confirm Order">
                            <span class="round-tab">
                                <i class="fa fa-clock-o"></i>
                            </span>
                        </a>
                                </li> -->
                                 <li role="presentation" class="disabled">
                                    <a data-target="#step6" data-toggle="tab" aria-controls="step6" role="tab" title="Service Details">
                            <span class="round-tab">
                                <i class="fa fa-info"></i>
                            </span>
                        </a>
                                </li>
                            </ul>
                        </div>
                            <div class="tab-content">
                              
                                <div class="tab-pane active" role="tabpanel" id="step2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                <i class="material-icons">home</i>
                                            </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Flat No. and Street</label>
                                                    <input type="text" class="form-control" ng-model="$parent.currentorder.address.street" ><span class="material-input"></span></div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                <i class="material-icons">location_on</i>
                                            </span>
                                                <div class="form-group">
                                                    
                                                    <input type="text"  id="searchBar"  ng-focus="disableTap()"   changegoogleplace="" class="form-control" ng-model="$parent.currentorder.address.landmark" ><span class="material-input"></span></div>
                                            </div>
											
											
											
											 <h4>Branch</h4>
											 <select  class="iw-time form-control"  required  
                                            ng-model="$parent.currentorder.branch"     ng-options="data.location for data in branches">
												<option value="">-- Select --</option>

                                            </select>
											
											
                                                        <h4>Address Nick Name</h4>
                  <div class="switch-field">
                      <input type="radio" id="switch_3_left" name="switch_3" value="home" checked ng-model="$parent.currentorder.address.addresstype" />
                <label for="switch_3_left">Home</label>
                <input type="radio" id="switch_3_center" name="switch_3" value="office" ng-model="$parent.currentorder.address.addresstype"  />
                <label for="switch_3_center">Office</label>
                <input type="radio" id="switch_3_right" name="switch_3" value="other" ng-model="$parent.currentorder.address.addresstype" />
                <label for="switch_3_right">Other</label>
                  </div>
                                        </div>
                                        <div class="col-md-6 iw-map">
                                            <img src="assets/img/map.jpg">
                                        </div>
                                    </div>
                                    <ul class="list-inline pull-right">
                                        <li>
                                          <!--  <button type="button" class="btn btn-default prev-step" ng-click="gotoStep(1)">Previous</button>-->
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary next-step" ng-click="gotoStep(3)" ng-disabled="!currentorder.address.street || !currentorder.address.landmark || !currentorder.address.addresstype || !currentorder.branch" >continue</button>
                                        </li>
                                    </ul>
                                </div>
                           


                             

                                <div class="clearfix"></div>
                            </div>
                        
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>
  