<div class="iw-faq">
    <div class="container">
        <h2 class="iw-head">Schedule A Pickup</h2>
        <div class="row">
            <section>
                <div class="wizard">
                    <div class="wizard-inner">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="disabled">
                                <a data-target="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Contact Details">
                                    <span class="round-tab">
                                        <i class="fa fa-address-card-o"></i>
                                    </span>

                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a aria-controls="#step2" role="tab" title="Address Details">
                                    <span class="round-tab">
                                        <i class="fa fa-map-signs"></i>
                                    </span>
                                </a>
                            </li>
                            <!--<li role="presentation" class="disabled">
                                <a aria-controls="#step3" role="tab" title="Service Details">
                                    <span class="round-tab">
                                        <i class="fa fa-motorcycle"></i>
                                    </span>
                                </a>
                            </li>-->

                            <li role="presentation" class="active">
                                <a aria-controls="#step4" role="tab" title="Time">
                                    <span class="round-tab">
                                        <i class="fa fa-calculator"></i>
                                    </span>
                                </a>
                            </li>
                            <!-- <li role="presentation" class="disabled">
                                <a aria-controls="Confirm" role="tab" title="Confirm Order">
                                    <span class="round-tab">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                </a>
                            </li> -->
                            <li role="presentation" class="disabled">
                                <a data-target="#step6" data-toggle="tab" aria-controls="step6" role="tab" title="Service Details">
                                    <span class="round-tab">
                                        <i class="fa fa-info"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" ng-init="getservicesCatforOrder()">
                        <div class="tab-pane active" role="tabpanel" id="step6">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="boxes boxes_padding">
                                        <h4 ng-if="$parent.currentorder.currentSubscription!=null && $parent.currentorder.useSubscription==1">Services under you package - {{$parent.currentorder.currentSubscription.monthly_package.package}}</h4>
                                        <h4 ng-if="$parent.currentorder.service && (!$parent.currentorder.useSubscription || $parent.currentorder.useSubscription==0) ">Services under  - {{$parent.currentorder.service.name}}</h4>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-shopping">
                                                        <thead>
                                                            <tr class="tble_tr_bg">
                                                                <th>
                                                                    <h4>Item - Price</h4>
                                                                </th>
                                                                <th class="th-description">
                                                                    <h4>Wash</h4>
                                                                </th>
                                                                <th class="th-description">
                                                                    <h4>Dry Clean</h4>
                                                                </th>

                                                                <th class="th-description">
                                                                    <h4>Iron</h4>
                                                                </th>
                                                                <th class="th-description">
                                                                    <h4>Total</h4>
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="service in servicescat" class="tbl_tr_bg">
                                                                <td class="td-name iw-qty-td">
                                                                    <label>{{service.name}}</label>

                                                                </td>
                                                                <td class="tble_td_padd">
                                                                    <span class="iw-rate" method="POST" action="#">
                                                                        <input type="button" value="-" class="iw-qtyminus iw-qty-input" field="qty_w" ng-click="decrement(service,service.category_id,service.id,service.price_wash, service.price_dryclean, service.price_iron, 'wash')">
                                                                        <input type="number" readonly="" name="qty_w" class="iw-qty-input iw_qtth_in iw-qty ng-pristine ng-untouched ng-valid ng-not-empty" ng-init="service.qty_w=0" ng-model="service.qty_w" value="0">
                                                                        <input type="button" value="+" class="iw-qtyplus iw-qty-input" field="qty_w" ng-click="increment(service,service.category_id,service.id,service.price_wash, service.price_dryclean, service.price_iron, 'wash')">
                                                                    </span>
                                                                </td>
                                                                <td class="tble_td_padd">
                                                                    <span class="iw-rate" method="POST" action="#">
                                                                        <input type="button" value="-" class="iw-qtyminus iw-qty-input" field="qty_dc" ng-click="decrement(service,service.category_id,service.id,service.price_wash, service.price_dryclean, service.price_iron,'dryclean')">
                                                                        <input type="number" readonly="" name="qty_dc" class="iw-qty iw_qtth_in ng-pristine ng-untouched ng-valid ng-not-empty iw-qty-input" ng-init="service.qty_dc=0" ng-model="service.qty_dc" value="0">
                                                                        <input type="button" value="+" class="iw-qtyplus iw-qty-input" field="qty_dc" ng-click="increment(service,service.category_id,service.id,service.price_wash, service.price_dryclean, service.price_iron,'dryclean')">
                                                                    </span>
                                                                </td>
                                                                <td class="tble_td_padd">
                                                                    <span class="iw-rate" method="POST" action="#">
                                                                        <input type="button" value="-" class="iw-qtyminus iw-qty-input" field="qty_ir" ng-click="decrement(service,service.category_id,service.id,service.price_wash, service.price_dryclean, service.price_iron,'iron')">
                                                                        <input type="number" readonly="" name="qty_ir" class=" iw-qty-input iw_qtth_in iw-qty ng-pristine ng-untouched ng-valid ng-not-empty" ng-init="service.qty_ir=0" ng-model="service.qty_ir" value="0">
                                                                        <input type="button" value="+" class="iw-qtyplus iw-qty-input" field="qty_ir" ng-click="increment(service,service.category_id,service.id,service.price_wash, service.price_dryclean, service.price_iron,'iron')">
                                                                    </span>
                                                                </td>
                                                                <td class="iw-qty-td">
                                                                    <label class="total">{{service.rowtotal}}</label>

                                                                </td>


                                                            </tr>
                                                            <tr ng-if="$parent.currentorder.currentSubscription!=null && $parent.currentorder.useSubscription==1" ng-repeat="servicelist in $parent.currentorder.currentSubscription.subscribe_services">
                                                                <td class="td-name">
                                                                    <label>{{servicelist.service.name}} ({{servicelist.category.name}})- {{servicelist.service.price}} QRS Per {{servicelist.service.per}}</label>

                                                                </td>
                                                                <td class="">
                                                                    <span class="iw-rate" method="POST" action="#">
                                                                        <input type="button" value="-" class="iw-qtyminus" field="quantity" ng-click="decrement(servicelist.service,servicelist.service.category_id,servicelist.service.id,servicelist.service.price)">

                                                                        <input type="number" readonly="" name="quantity" max="{{servicelist.quantity}}" class="iw-qty ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="service.quantity" ng-init="service.quantity=0" value="0" ng-value="{{(service.quantity > servicelist.quantity)?servicelist.quantity:service.quantity}}" ng-disabled="{{(service.quantity >= servicelist.quantity)?true:false}}">

                                                                        <input type="button" value="+" class="iw-qtyplus" field="quantity" ng-disabled="{{(service.quantity >= servicelist.quantity)?true:false}}"
                                                                               ng-click="increment(servicelist.service,servicelist.service.category_id,servicelist.service.id,servicelist.service.price)">
                                                                    </span> Total :{{servicelist.quantity}}
                                                                </td>
                                                                <td class="">
                                                                    <span class="iw-rate" method="POST" action="#">
                                                                        <input type="button" value="-" class="iw-qtyminus" field="quantity" ng-click="decrement(servicelist.service,servicelist.service.category_id,servicelist.service.id,servicelist.service.price)">

                                                                        <input type="number" readonly="" name="quantity" max="{{servicelist.quantity}}" class="iw-qty ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="service.quantity" ng-init="service.quantity=0" value="0" ng-value="{{(service.quantity > servicelist.quantity)?servicelist.quantity:service.quantity}}" ng-disabled="{{(service.quantity >= servicelist.quantity)?true:false}}">

                                                                        <input type="button" value="+" class="iw-qtyplus" field="quantity" ng-disabled="{{(service.quantity >= servicelist.quantity)?true:false}}"
                                                                               ng-click="increment(servicelist.service,servicelist.service.category_id,servicelist.service.id,servicelist.service.price)">
                                                                    </span> Total :{{servicelist.quantity}}
                                                                </td>
                                                                <td>
                                                                    <span class="iw-rate" method="POST" action="#">
                                                                        <input type="button" value="-" class="iw-qtyminus" field="quantity" ng-click="decrement(servicelist.service,servicelist.service.category_id,servicelist.service.id,servicelist.service.price)">

                                                                        <input type="number" readonly="" name="quantity" max="{{servicelist.quantity}}" class="iw-qty ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="service.quantity" ng-init="service.quantity=0" value="0" ng-value="{{(service.quantity > servicelist.quantity)?servicelist.quantity:service.quantity}}" ng-disabled="{{(service.quantity >= servicelist.quantity)?true:false}}">

                                                                        <input type="button" value="+" class="iw-qtyplus" field="quantity" ng-disabled="{{(service.quantity >= servicelist.quantity)?true:false}}"
                                                                               ng-click="increment(servicelist.service,servicelist.service.category_id,servicelist.service.id,servicelist.service.price)">
                                                                    </span> Total :{{servicelist.quantity}}
                                                                </td>
                                                                <td class="td-number">
                                                                    <small class=".iw-qty-input">549</small>
                                                                </td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>


                                                <!--<div class="cats-iw">
                                                                <ul>
                                                           <li  ng-if="(!$parent.currentorder.useSubscription || $parent.currentorder.useSubscription==0) && $parent.currentorder.service && $parent.currentorder.catservices" ng-repeat="service in $parent.currentorder.catservices">
                                                                        <label>{{service.name}}- {{service.price}} QRS Per {{service.per}}</label>
                                                   <span class="iw-rate" method="POST" action="#">
                                                <input type="button" value="-" class="iw-qtyminus" field="quantity" ng-click="decrement(service,service.category_id,service.id,service.price)">
                                                <input type="number" readonly="" name="quantity"  class="iw-qty ng-pristine ng-untouched ng-valid ng-not-empty" ng-init="service.quantity=0" ng-model="service.quantity" value="0">
                                                <input type="button" value="+" class="iw-qtyplus" field="quantity" ng-click="increment(service,service.category_id,service.id,service.price)">
                                                </span>

                                                                    </li>

                                                                    <li  ng-if="$parent.currentorder.currentSubscription!=null && $parent.currentorder.useSubscription==1" ng-repeat="servicelist in $parent.currentorder.currentSubscription.subscribe_services">
                                                                        <label>{{servicelist.service.name}} ({{servicelist.category.name}})- {{servicelist.service.price}} QRS Per {{servicelist.service.per}}</label>
                                                   <span class="iw-rate" method="POST" action="#">
                                                <input type="button" value="-" class="iw-qtyminus" field="quantity" ng-click="decrement(servicelist.service,servicelist.service.category_id,servicelist.service.id,servicelist.service.price)">

                                                <input type="number" readonly="" name="quantity" max="{{servicelist.quantity}}" class="iw-qty ng-pristine ng-untouched ng-valid ng-not-empty"  ng-model="service.quantity"  ng-init="service.quantity=0"  value="0" ng-value="{{(service.quantity > servicelist.quantity)?servicelist.quantity:service.quantity}}"  ng-disabled="{{(service.quantity >= servicelist.quantity)?true:false}}">

                                                <input type="button" value="+" class="iw-qtyplus" field="quantity"  ng-disabled="{{(service.quantity >= servicelist.quantity)?true:false}}"

                                                ng-click="increment(servicelist.service,servicelist.service.category_id,servicelist.service.id,servicelist.service.price)" >
                                                </span> Total :{{servicelist.quantity}}

                                                                    </li>

                                                                </ul>

                                                            </div>-->
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline pull-right">
                                <li>
                                    <button class="btn btn-default prev-step" ng-click="previous()">Previous</button>
                                </li>
                                <li>
                                    <button type="button" ng-click="gotoStep(4)" class="btn btn-primary btn-info-full next-step" ng-disabled="(!currentorder.service && $parent.currentorder.useSubscription==0 ) || $parent.currentorder.cartPrice==0">Continue</button>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="estimator">
    <img src="assets/img/basket.png">
    <p id="quantity">0</p>
    <span style="margin-left:15px;">Estimated Price(QRS): </span>
    <span id="total">0</span>

</div>