<div class="iw-faq">
    <div class="container">
        <h2 class="iw-head">Schedule A Pickup</h2>
        <div class="row">
            <section>
                <div class="wizard">
                    <div class="wizard-inner">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="disabled">
                                <a data-target="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Contact Details">
                                    <span class="round-tab">
                                        <i class="fa fa-address-card-o"></i>
                                    </span>

                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a aria-controls="#step2" role="tab" title="Address Details">
                                    <span class="round-tab">
                                        <i class="fa fa-map-signs"></i>
                                    </span>
                                </a>
                            </li>
                            <!-- <li role="presentation" class="disabled">
                                <a aria-controls="#step3" role="tab" title="Service Details">
                                    <span class="round-tab">
                                        <i class="fa fa-motorcycle"></i>
                                    </span>
                                </a>
                            </li> -->

                            <li role="presentation" class="disabled">
                                <a aria-controls="#step4" role="tab" title="Time">
                                    <span class="round-tab">
                                        <i class="fa fa-calculator"></i>
                                    </span>
                                </a>
                            </li>
                            <!-- <li role="presentation" class="disabled">
                                <a aria-controls="Confirm" role="tab" title="Confirm Order">
                                    <span class="round-tab">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                </a>
                            </li> -->
                            <li role="presentation" class="active">
                                <a data-target="#step6" data-toggle="tab" aria-controls="step6" role="tab" title="Service Details">
                                    <span class="round-tab">
                                        <i class="fa fa-info"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <!-- code from Ionic -->
                        <div class="iw-address flat">
                            <!-- multistep form -->
                            <div id="msform">



                                <fieldset class="iw-service-detail">

                                    <form name="confirmorder">

                                        <!-- <div class="card iw-stable-bg ">

                                           
                                                 <table class="table  table-striped">
                                                   <tbody>

                                                  <tr>
                                                      <th>Total Amount :QRS </th>
                                                      <th>Total Quantity:</th>
                                                  </tr>

                                                   <tr>
                                                        <td></td>
                                                        <td>{{currentorder.qty}}</td>
                                                       
                                                   </tr>
                                                       
                                                       
                                                    
                                                </tbody>
                                                 </table>
                                                </div> -->

                                        <div class="card iw-stable-bg">


                                            <table class="table  table-striped">
                                                <tbody>
                                                    <tr style=" background-color: #1a1f2a!important;">
                                                        <th>Item Name</th>
                                                        <th>Wash</th>
                                                        <th>DryClean</th>
                                                        <th>Iron</th>

                                                    </tr>

                                                    <tr ng-repeat="x in currentorder.cart">
                                                        <td>
                                                            {{x.name}}


                                                            <td>
                                                                {{x.qty_w}}
                                                            </td>
                                                            <td>
                                                                {{x.qty_dc}}
                                                            </td>
                                                            <td>
                                                                {{x.qty_ir}}
                                                            </td>


                                                    </tr>
                                                </tbody>
                                            </table>





                                            <hr>
                                            <div class=" iw-stable-bg">

                                                <table class="table table-striped
                                                        ">
                                                    <tbody>


                                                        <tr style=" background-color: #1a1f2a!important;">
                                                            <th>Package Quantity</th>
                                                            <th>Remaining Quantity</th>
                                                            <th>Address Type</th>
                                                            <th>Street</th>
                                                            <th>Landmark</th>

                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <p ng-if="currentorder.mysubscription.quantity_used>=0" ng-bind="currentorder.mysubscription.package.qty_clothes"></p>
                                                            </td>
                                                            <td>
                                                                <p ng-if="currentorder.mysubscription.quantity_used>=0" ng-bind="currentorder.mysubscription.quantity_used"></p>
                                                            </td>

                                                            <td>
                                                                <p>{{currentorder.address.addresstype}}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{currentorder.address.street}}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{currentorder.address.landmark}}</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="row text-center">
                                                        <div class="col-md-6">
                                                    <div class="card">
                                                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Total Amount </span> </div>
                                                        <div class="title">
                                                                <h2 class=" title-small">QRS : {{currentorder.cartPrice}}</h2>
                                                              </div>
                                                      </div>                       
                                                  </div>
                                                  <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-img-overlay"> <span class="badge">Total Quantity</span> </div>
                                                           
                                                        <div class="title">
                                                                <h2 class=" title-small">{{currentorder.qty}}</h2>
                                                              </div>
                                                      </div>
                                                          </div>
                                                  </div>
                                                  </div>
                                                    </div>
                                                <div class="error-msg">
                                                    <p ng-if="currentorder.mysubscription.quantity_used<=0" ng-bind="currentorder.mysubscription.message"></p>
                                                </div>
                                               
                                            </div>
                                            <ul class="list-inline pull-right">
                                                <li>
                                                    <button class="btn btn-default prev-step" ng-click="previous()">Previous</button>
                                                </li>
                                                <li>
                                                    <button type="button" ng-click="placeOrder()" class="btn btn-primary btn-info-full next-step">CONFIRM ORDER</button>
                                                </li>


                                            </ul>
                                            <!-- <input type="submit" name="submit" class="submit iw-button-balanced button button-assertive" ng-disabled="currentorder.mysubscription.remaining_qty < 0" value="CONFIRM ORDER" ng-click="placeOrder()"/> -->

                                    </form>
                                </fieldset>

                                </div>
                            </div>
                            <!-- code from Ionic -->


                            <div class="clearfix"></div>
                        </div>

                    </div>
            </section>
            </div>
        </div>
    </div>