
    <div class="iw-faq">
        <div class="container">
            <h2 class="iw-head">Schedule A Pickup</h2>
            <div class="row">
                <section>
                    <div class="wizard">
                          <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="disabled">
                                    <a data-target="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Contact Details">
                            <span class="round-tab">
                                <i class="fa fa-address-card-o"></i>
                            </span>
                            
                        </a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a  aria-controls="#step2" role="tab" title="Address Details">
                            <span class="round-tab">
                                <i class="fa fa-map-signs"></i>
                            </span>
                        </a>
                                </li>
                                <!--<li role="presentation" class="disabled">
                                    <a aria-controls="#step3" role="tab" title="Service Details">
                            <span class="round-tab">
                                <i class="fa fa-motorcycle"></i>
                            </span>
                        </a>
                                </li>-->
                               
                                <li role="presentation" class="disabled">
                                    <a  aria-controls="#step4" role="tab" title="Time">
                            <span class="round-tab">
                                <i class="fa fa-calculator"></i>
                            </span>
                        </a>
                                </li>
                                <!-- <li role="presentation" class="active">
                                    <a  aria-controls="Confirm" role="tab" title="Confirm Order">
                            <span class="round-tab">
                                <i class="fa fa-clock-o"></i>
                            </span>
                        </a>
                                </li> -->
                                 <li role="presentation" class="disabled">
                                    <a data-target="#step6" data-toggle="tab" aria-controls="step6" role="tab" title="Service Details">
                            <span class="round-tab">
                                <i class="fa fa-info"></i>
                            </span>
                        </a>
                                </li>
                            </ul>
							
                        </div>
                            <div class="tab-content">
                              


                             <div class="tab-pane active" role="tabpanel" id="step4" >
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>Schedule Your Pickup*</h4>
                                            <img src="assets/img/calendar2.png">
                                            <input type="text" datepicker id="iwdatepicker" class="iw-date" name="from"  required  
                    ng-model="$parent.currentorder.timslot.pickupdate" />

<div>
                   <img src="assets/img/watch.png">
                                            <select  class="iw-time"  required  
                                            ng-model="$parent.currentorder.timslot.pickuptime"     ng-options="data.timebetween for data in pickuptime">
                                                        <option value="">-- Select --</option>

                                            </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>Schedule Your Delivery*</h4>
                                            <img src="assets/img/calendar2.png">
                                            <input type="text" datepicker id="iwdatepickerto" class="iw-date" name="to"  required  ng-model="$parent.currentorder.timslot.deliverydate" />
                                            <div>
                                            <img src="assets/img/watch.png">
                                            <select class="iw-time" required  ng-model="$parent.currentorder.timslot.deliverytime"  ng-options="data.timebetween for data in deliverytime">
                                                                                    <option value="">-- Select --</option>

                                            </select>
                                            <div>
                                        </div>
                                    </div>
                                    <ul class="list-inline pull-right">
                                        <!-- <li>
                                            <button type="button" ng-click="gotoStep(3)" class="btn btn-default prev-step">Previous</button>
                                        </li>
                                        <li>
                                            <button type="button" ng-click="gotoStep(6)" ng-disabled="!currentorder.timslot.pickupdate || !currentorder.timslot.deliverydate || !currentorder.timslot.pickuptime || !currentorder.timslot.deliverytime" class="btn btn-primary btn-info-full next-step">Continue</button>
                                        </li> -->
                                    </ul>
                                </div>

                           

                                <div class="clearfix"></div>
                            </div>
                        
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>
  