
    <div class="container-fluid">
        <div class="row">
            <h2 class="iw-text-price">Order Request</h2>
            <div class="col-md-12">
                <!-- Tabs on Plain Card -->
                <div class="card card-nav-tabs card-plain">
                    <div class="header header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li ng-repeat="cat in categories" ng-click="getservicesbycat($index,cat.id)">
                                        <a data-target="#{{cat.id}}" data-toggle="tab"><img src="{{api_url+cat.image}}"> {{cat.name}}</a>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active iw-title" id="{{cat.id}}" ng-repeat="cat in categories">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="service in cat.service">
                                        <div class="card card-profile card-plain">
                                            <div class="col-md-5">
                                                <div class="iw-card-image">
                                                    <a href="#pablo">
									                 <img src="{{api_url+ service.image}}">
								                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="card-content tex">
                                                    <h4 class="card-title">{{service.name}}(per {{service.per}})</h4>
                                                    <p class="card-description">
                                                      QRS {{service.price}}
                                                    </p>
                                                    <span class="iw-rate" method='POST' action='#'>
    <input type='button' value='-' class='iw-qtyminus' field='quantity'  ng-click="decrement(cat.id,service.id,service.price)" />
    <input type='text' readonly name='quantity' ng-value='0'  class='iw-qty' ng-init="service.quantity=0" ng-model="service.quantity" />
    <input type='button' value='+' class='iw-qtyplus' field='quantity' ng-click="increment(cat.id,service.id,service.price)"/>
</span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                 
                                </div>
                         
                              
                            </div>
                          </div>
                    </div>
                </div>
                <!-- End Tabs on plain Card -->
            </div>
        </div>
    </div>
    <div class="estimator">
                <img src="assets/img/basket.png">
                <p id="quantity">0</p>
                <span style="margin-left:15px;">Estimated Price(QRS): </span>
                <span id="total">0</span>
             
            </div>