<style>
    .card .content-rose {
        background: linear-gradient(60deg, #5380f2, #4970d2)!important;
    }
</style>
<div class="iw-faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="iw-head">Subscribe Package</h2>



                <div class="Select Address bg-set">

                    <div class="alert alert-success">
                        <div class="container" ng-bind="message">
                            <div class="alert-icon">
                                <i class="material-icons">check</i>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">
                                    <i class="material-icons">clear</i>
                                </span>
                            </button>
                            <b>Success Alert:</b> {{message}}
                        </div>
                    </div>
                    <!-- <div ng-bind="message">{{message}}
                                
                                                        </div> -->
                    <!-- <ion-content>
                       
                       <ion-item> -->

                    <div class="content">
                        <div class="package-iw">
                            <label for="package">Package :</label>
                            <select class="iw- pickuptime addressinput" required ng-model="item" ng-change="changed(item)" ng-options="abc.name for abc in packages">
                                <option value="">-- Select Package--</option>
                            </select>

                        </div>
                        <div class="package-iw">
                            <label for="months">Month :</label>
                            <select style="margin-left: 13px;" class="iw- pickuptime addressinput" required class="months" ng-model="hello" ng-change="changemonth(hello)">
                                <option value="">-- Select Month--</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>

                        </div>

                        <div class="qty-clothes">
                            <label>Quantity of Clothes : </label>
                            <input type="text" placeholder="0" class="qty-lab" value="{{item.qty_clothes}}" readonly="readonly" />
                        </div>



                        <div id="amt">
                            <label>Amount Payable :</label>
                            <input type="text" placeholder="0" class="qty-lab" style="margin-left: 17px;" value="{{item.qty_clothes*hello}}" readonly="readonly"
                            />
                        </div>

                        <div class="text-center subs-btn" style="margin-top: 30px;">
                                <button type="button" class="btn btn-primary" style="background: #5380f2!important;"  ng-click="subscribe()">Subscribe</button>
                            <!-- <a href="#/mysubscription">
                                <button type="button" class="btn btn-primary">Your Subscription</button>
                            </a> -->

                        </div>

                        <!-- <a href="#/subscribe" class="btn btn-primary1 btn-round">Choose Plan</a> -->
                        <!-- </ion-item>
                   
                       </ion-content> -->
                    </div>


                </div>
            </div>
          
        </div>
    </div>