/*menu css*/

.item-complex .item-content,
.item-radio .item-content {
    padding: 20px 49px 20px 20px!important;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: linear-gradient(60deg, rgb(176, 219, 255), rgb(14, 147, 255))!important;
}

.menu-bg {
    background-image: url('../img/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.item a i {
    font-size: 30px;
    padding-right: 15px;
    color: #0e94ff;
}

.item {
    margin-top: 2px;
}

.item i {
    font-size: 30px;
    padding-right: 15px;
    color: #0e94ff;
}

.item p {
    display: -webkit-inline-box;
    font-size: 16px;
    color: black;
}

.item a p {
    display: -webkit-inline-box;
    font-size: 16px;
    color: black;
}

.profile-img img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 20px 0px 0px 95px;
}

.profile-img h4 {
	color: white;
    text-align: center;
}

.profile-img p {
	color: white;
    text-align: center;
}

.profile-img {
    background-color: rgba(0, 0, 0, 0.30);
    height: 200px;
}


/*menu css end*/
