<!doctype html>
<html lang="en"  ng-app="iwashApp" >

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>iWash</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/material-kit.css?v=1.1.0" rel="stylesheet" />
    <link href="assets/css/vertical-nav.css" rel="stylesheet" />
    <link href="assets/css/jquery-ui.css" rel="stylesheet" />
      <link rel="stylesheet" href="assets/angular-toastr/dist/angular-toastr.min.css"/>
	  <script type="text/javascript" src="assets/angular-toastr/dist/angular-toastr.tpls.min.js" defer="defer"></script> 
      <script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAczVSq-4Pyp8_tnX-KLbIsDT9ug9uWx98"></script>
      
     <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="assets/angular.min.js"></script>
    <script src="assets/angular-ui-router.min.js"></script>
    	  <script type="text/javascript" src="assets/js/ng-google-signin.min.js"></script> 

    <script src="controllers.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="AppCtrl" style="background: white;">
    <nav class="navbar navbar-default navbar-fixed-top navbar-color-on-scroll" color-on-scroll=" " role="navigation-demo">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><img src="assets/img/logo0.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navigation-example-2">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-href="#/#howitworks">
                                        How it Works
                                    </a>
                    </li>
                    <!-- <li>
                        <a href="#/pricing">
                                        Pricing
                                    </a>
                    </li>
                    <li>
                        <a href="#/packages">
                                        Packages
                                    </a>
                    </li> -->
                    <li>
                        <a href="#/faq">
                                        FAQ
                                    </a>
                    </li>
                    <li>
                        <a href="#">
                                        Blog
                                    </a>
                    </li>
                    <li>
                        <a href="#/placeorder/step1" class="btn btn-rose btn-raised btn-round">
                                       Place Order
                                    </a>
                    </li>
                                 <li class="dropdown" ng-if="isLoggedIn">
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{myinfo.name}}    <i class="fa fa-chevron-down"></i>
                            <div class="ripple-container"></div>
                        </a>
                        <ul class="dropdown-menu">
                         
                            
                            <li>
                                <a href="#/myorders">My Orders</a>
                            </li>
                            <!-- <li>
                                <a href="#/mysubscription">My Subscription</a>
                            </li> -->
                            <li>
                                <a href="#/mysubscription">Subscribe</a>
                            </li>
                            <li class="divider"></li>
                            <li><a ng-click="logOut()">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>

<ui-view> 
 <i>Loading ....</i>
</ui-view>
    <footer class="footer footer-grey footer-big">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-5">
                        <a href="#"><h5>iWash Laundry</h5></a>
                        <p>IWash Laundry & Dry Cleaning is focused on helping you stay clean by providing a professional laundry service. Folding? Freshness? Convenience? Our cleaning products get the job done so you don’t have to stress out over dirty clothes. The IWash Laundry & Dry Cleaning Services LLC originated in Qatar and is now known as ONE of the LEADING Cleaners catering to industries such as hospitality, airlines, retail and other industry sectors across the region while caring for individual members. Our state-of-the-art laundry equipment can handle many different kinds of fabric, ensuring a better wash that protects the quality of your linens. We strive to present our customers with satisfaction when it comes to our personalized services.</p>
                    </div>
                    <div class="col-md-2">
                        <h5>Services</h5>
                        <ul class="links-vertical">
                            <li>
                                <a href="#pablo">
                                                   Dry Clean
                                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                                   Steam Press
                                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                                    Laundry
                                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                                    Wash & Fold
                                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                                    Free Pick and Drop
                                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                                    Starching
                                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h5></h5>
                        <ul class="links-vertical">
                            <li>
                                <a href="#pablo">
                                                   Antiseptic Wash
                                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                                    Fabric Softener
                                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                                   Fabric Conditioner
                                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                                    Shoe Servicing
                                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                                    Live Processing centre
                                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5></h5>
                        <ul class="links-vertical">
                            <li>
                                <a href="#pablo">
                                                  <i class="material-icons">phone</i>  +992022022000
                                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                   <i class="material-icons">email</i> info@iwashqatar.com
                                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                    <i class="material-icons">watch_later</i>               Operating Hours: 8 AM to 10 PM
                                                </a>
                            </li>
                            <li>
                                <a href="#pablo">
                                        <i class="material-icons">watch_later</i> Calling Hours: 8 AM to 10 PM            
                                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <ul class="social-buttons">
                <li>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                </li>
                <li>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                </li>
                <li>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-google">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                </li>
            </ul>
            <div class="copyright pull-center">
                Copyright © 2017 Iwash Qatar design by <a href="sofyrus.com">Sofyrus Technology</a>.
            </div>
        </div>
    </footer>
</body>
<!--   Core JS Files   -->
<script src="assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/material.min.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="assets/js/moment.min.js"></script>
<!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/nouislider.min.js" type="text/javascript"></script>
<!--    Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="assets/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--    Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="assets/js/bootstrap-selectpicker.js" type="text/javascript"></script>
<!--    Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="assets/js/bootstrap-tagsinput.js"></script>
<!--    Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="assets/js/jasny-bootstrap.min.js"></script>
<!-- Plugin For Google Maps -->
<!--    <script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<script src="assets/js/atv-img-animation.js" type="text/javascript"></script>
<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="assets/js/material-kit.js?v=1.1.0" type="text/javascript"></script>
<script src="assets/js/vertical-nav.js" type="text/javascript"></script>
<script src="assets/js/jquery-ui.min.js" type="text/javascript"></script>

<script>
$(document).ready(function() {
    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();

    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {

        var $target = $(e.target);

        if ($target.parent().hasClass('disabled')) {
            return false;
        }
    });

    $(".next-step").click(function(e) {

        var $active = $('.wizard .nav-tabs li.active');
        $active.next().removeClass('disabled');
        nextTab($active);

    });
    $(".prev-step").click(function(e) {

        var $active = $('.wizard .nav-tabs li.active');
        prevTab($active);

    });
});

function nextTab(elem) {
    $(elem).next().find('a[data-toggle="tab"]').click();
}

function prevTab(elem) {
    $(elem).prev().find('a[data-toggle="tab"]').click();
}
</script>

</html>