/*navigation bar start here*/

.navbar,
.navbar.navbar-default {
    background: linear-gradient(60deg, rgb(26, 31, 42), rgb(25, 31, 41))!important;
    color: white!important;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}

.btn.btn-rose {
    background: white!important;
    color: #191f29!important;
}

.iw-ord {
    background: white!important;
    color: #191f29!important;
    box-shadow: 0 6px 6px 0 rgba(53, 75, 197, 0.14), 0 8px 1px -2px rgba(19, 26, 236, 0.2), 0 1px 5px 0 rgba(51, 15, 160, 0.12)!important;
}

.navbar-brand>img {
    display: block;
    margin-top: -20px;
    height: 68px;
}




.noresult {

    text-align: center;
    height: 78px;
    border: 1px solid grey;
    padding: 3%;
    margin: 71px;
    background: rgba(128, 128, 128, 0.26);
}






/*navigation bar end here*/

.card img {
    height: 130px!important;
}

.card .card-image img {
    height: 250px!important;
}

.iw-description {
    color: white!important;
    position: relative;
    z-index: 1;
}

.iw-team {
    padding: 35px 0!important;
}

.iw-pricing {
    display: none;
}

.iw-pricing:hover {
    display: block;
}

.card-background .iw-content {
    min-height: 0px!important;
}

.btn.btn-primary {
    background-color: #191f29!important;
}

.btn.btn-primary1 {
    background-color: #5380f2!important
}

a:hover, a:focus {
    color: black!important;
}
.iw-get-app {
    height: 100px;
    background: #191f29;
}

.iw-text-price {
    font-size: 24px;
    font-weight: 500;
    margin-top: 80px;
    padding: 12px;
    background: #ebeaea;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.iw-text {
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.iw-get {
    width: 50%;
    height: 42px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid silver;
    text-indent: 10px;
}

.iw-btn {
    margin-left: -3px!important;
    border-radius: 0px 3px 3px 0px!important;
    height: 42px!important;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    margin-left: 50px;
}

.header-danger img {
    width: 32px!important;
    height: 32px!important;
}

.iw-card-image img {
    width: 150px!important;
    height: 150px!important;
    border-radius: 50%;
    border: 2px solid #191f29;
}

.footer-grey {
    background: #ebeaea!important;
}

.divider {
    border: 1px solid #E0DFDF;
    width: 0px;
    float: left;
    height: 189px;
    margin-left: 3%;
}

.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
    font-family: "Roboto", "Times New Roman", serif!important;
}

.iw-title h4 {
    text-align: left!important;
}

.iw-title p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    text-align: left;
    color: #5380f2;
}

.iw-qty {
    width: 40px;
    text-align: center;
    border: 1px solid #5380f2;
    border-radius: 0px;
}

.iw-qtyplus {
    color: white;
    background: #5380f2;
    border: none;
    border-radius: 0px;
    padding: 2px 7px 2px 7px;;
}
.iw-qty-td {
    padding: 5px 4px !important;
}
.iw-qty-input {
    font-size: 10px;
    font-weight: 900;
}
.iw_qtth_in {
    width: 30px !important;
    color: #AAAAAA !important;
}
.iw-rate {
    font-size: 0px !important;
}
.tble_tr_bg {
    background: #5380f2;
    color: white;
}
.tble_td_padd {
    padding: 0px 8px !important;
}
.tbl_tr_bg {
    background: initial !important;
    color: initial !important;
    font-size: 0px !important;
}
.boxes_padding {
    padding: 25px !important;
}

.iw-qtyminus {
    color: white;
    background: #5380f2;
    border: none;
    border-radius: 0px;
    padding: 2px 7px 2px 7px;
}

.iw-faq {
    background: white;
    margin: 100px 30px 30px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.iw-faq-page p span b {
    font-size: 18px;
    font-weight: 500;
    color: #5380f2;
}
.iw-input-number {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}

.iw-faq-page p {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 20px;
}

.iw-faq-page h2 {
    font-size: 24px;
    font-weight: 400;
    padding: 10px;
    background: #414752;
    color: white;
}

.iw-head {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.navbar .dropdown-menu li>a:hover,
.navbar .dropdown-menu li>a:focus,
.navbar.navbar-default .dropdown-menu li>a:hover,
.navbar.navbar-default .dropdown-menu li>a:focus {
    color: #FFFFFF!important;
    background-color: #5380f2!important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(238, 83, 83)!important;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
    background: #191f29!important;
}

.wizard>div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 98%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i {
    color: #555555;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5380f2;
}

.wizard li.active span.round-tab i {
    color: #5380f2;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs>li {
    width: 19.5%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: white;
}

.wizard .nav-tabs>li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs>li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width: 585px) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs>li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.iw-sign button {
    width: 61%;
    margin: auto;
    display: block;
}

.iw-sign {
    margin-top: 40px;
}

.tab-pane ul li button {
    margin-top: 50px;
}

.iw-map img {
    width: 60%!important;
    display: block;
    margin: auto;
}

.iw-map {
    border-left: 4px solid silver;
}

.boxes {
    margin: auto;
    padding: 50px;
    background: #ffffff;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}






/*Checkboxes styles*/

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    color: #0a0909;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"]+label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #e94848;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}




.radio input[type=radio]:checked~.check {
    background-color: #e94848;
}


.nav-pills.nav-pills-rose>li.active>a,
.nav-pills.nav-pills-rose>li.active>a:focus,
.nav-pills.nav-pills-rose>li.active>a:hover {
    background-color: #e94848!important;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgb(233, 72, 72)!important;
}

.iw-slot li {
    width: 50%;
    float: left;
    list-style-type: none;
}

.iw-slot li div {
    width: 105px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 2px;
    background: #FDFDFD;
}

.iw-slot li div:hover {
    border-color: #ee5454;
}

.iw-address h4 {
    font-size: 22px;
    font-weight: 400;
    color: #5380f2;
    margin-right: 10px;
}

.iw-address h4 i {
    margin-right: 10px;
}

.iw-sche h4 i {
    margin-right: 10px;
}

.iw-address {
    margin-top: 30px;
}

.iw-address p {
    font-size: 14px;
    font-weight: 400;
    margin: 0!important;
}
.alert.alert-success {
    background-color: #191f29!important;
    color: #ffffff;
}
.iw-limit p{
    font-size: 14px;
    font-weight: 600;
    margin: 0!important;
    background: #41bb41;
    padding: 5px;
    color: white;
}

.iw-sche h4 {
    font-size: 22px;
    font-weight: 400;
    color: #5380f2;
    margin-right: 10px;
}

.iw-sche {
    margin-top: 30px;
    background: #ffffff;
    padding: 10px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.iw-sche p {
    font-size: 16px;
    font-weight: 400;
}

.iw-review {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.5em;
}

.iw-h {
    margin-right: 15px;
    font-weight: 500;
}

.iw-d {
    padding-right: 15px;
    border-right: 1px solid #ccc;
}

.iw-s {
    padding-left: 10px;
}

.iw-infor {
    line-height: 48px;
}

.iw-infor label {
    font-size: 18px;
    width: 100px;
    color: black;
}

.iw-infor span {
    font-size: 16px;
    font-weight: 400;
}

.iw-boxes {
    margin: 0px 0px 35px;
    padding: 50px;
    background: #ffffff;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.iw-text-info input {
    height: 30px;
    text-indent: 6px;
}

.iw-t {
    font-size: 36px!important;
    color: #5380f2!important;
}

.iw-h {
    font-size: 22px!important;
    font-weight: 400!important;
    color: white!important;
}

.iw-ban::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.iw-ban {
    position: relative;
}

.iw-ban:before,
.iw-ban:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.iw-ban .container {
    z-index: 2;
    position: relative;
}

.iw-img img {
    display: block;
    margin: auto;
}

.iw-img h3 {
    font-weight: 500;
    text-align: center;
}

.iw-img p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.iw-img a {
    width: 100%;
    margin: 10px;
    display: block;
}

#scroll {
    position: fixed;
    z-index: 999;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    background-color: #e74c3c;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.iw-tabs-secondary {
    background: gainsboro;
    padding: 15px;
}

.iw-tabs-secondary a:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    background: #ed5050;
    color: white;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.iw-tabs-secondary a:nth-child(3) {
    background: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.iw-tabs-secondary a:nth-child(3):hover {
    background: #e94848;
}

.iw-detail {
    color: black!important;
}

.iw-detail:hover {
    color: black!important;
}

table tbody tr:nth-child(1) {
    font-size: 14px;
    font-weight: 500;
    background: #5380f2;
    color: white;
}

.iw-detail-page h4 {
    margin: 10px;
    font-weight: 500;
}

.iw-detail-page h5 {
    color: green;
    text-align: center;
    margin: 10px;
    font-weight: 500;
}

.iw-detail-page h3 a {
    color: #ed5050!important;
    font-size: 18px;
    font-weight: 400;
    float: right;
    margin: -50px 10px;
}

.iw-detail-page p {
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}

.iw-detail-page h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.iw-detail-page button {
    display: block;
    margin: 18px auto;
}

.iw-sad-img img {
    display: block;
    margin: auto;
    width: 132px!important;
    height: 132px!important;
}

.iw-can {
    color: red!important;
}

.iw-date {
    width: 80%;
    height: 35px;
    border: 1px solid #b5a7a7;
    text-indent: 15px;
}

.iw-time {
    height: 35px;
    width: 80%;
    margin-top: 25px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: left;
}

.switch-field label {
    display: inline-block;
    width: 33%;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #191f29;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.iw-he {
    font-size: 16px!important;
    font-weight: 400!important;
    color: #080808!important;
}

.iw-success img {
    display: block;
    background: white;
    padding: 10px;
    margin: auto;
    border-radius: 50%;
}

.iw-success {
    background: linear-gradient(60deg, rgb(26, 31, 42), rgb(25, 31, 41))!important;
    margin-bottom: 20px;
}

.iw-success h3 {
    color: white!important;
}

.iw-success h4 {
    text-align: center;
    color: white!important;
}

.iw-success hr {
    width: 50%;
}

.iw-p {
    background: #e2e2e2;
    margin-top: -20px;
    padding: 20px;
}

.iw-p p {
    text-align: left!important;
}

.iw-status a {
    font-size: 16px;
    width: 100%!important;
    display: block;
    margin: 15px auto;
}



.divider {
    border: 1px solid #E0DFDF;
    width: 0px;
    float: left;
    height: 189px;
    margin-left: 3%;
}

.add:hover {
    background-color: #b95d1d;
}

.estimator_menu {
    display: none;
    float: right;
    margin-top: 33px;
}

.decrement {
    padding: 3px 9px;
    border: 1px solid #E0DFDF;
    border-radius: 3px;
    cursor: pointer;
}

.quantity {
    margin: 5px 6px 0 6px;
}

.increment {
    padding: 3px 8px;
    border: 1px solid #E0DFDF;
    border-radius: 3px;
    cursor: pointer;
}

.estimator_menu p {
    float: left;
}

p.decrement:hover,
p.increment:hover {
    background: #f7f7f7;
}

.estimator {
    position: fixed;
    bottom: 17px;
    right: 50px;
    padding: 10px;
    background: #f57a1d;
    color: white;
    border-radius: 12px;
    box-shadow: #CECECE 2px 2px 5px 2px;
    display: none;
}

.estimator img {
    width: 32px;
    float: left;
}

.estimator p {
    color: #053169;
    margin-left: -35px;
    font-weight: bolder;
    width: 38px;
    float: left;
    text-align: center;
    margin-top: 11px;
    z-index: 99999;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari and Chrome */
    -o-transform: rotate(0deg);
}

.estimator span {
    margin-top: 7px;
    margin-left: 4px;
    float: left;
}

#price_list ul {
    overflow: auto;
    margin-bottom: 100px;
}

.item button {
    float: right;
    background: #f57a1d;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 23px;
    margin-top: 30px;
    border-radius: 3px;
}

.card .header-danger {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgb(83, 128, 242)!important;
}

.card .header-danger,
.card .content-danger {
    background: linear-gradient(60deg, #191f29, #191f29)!important;
}

.radio input[type=radio]:checked~.check {
    background-color: #5380f2!important;
}

.login input {
    text-indent: 10px;
}
.bg-change{
    background: none!important;
    color: black!important;
    font-weight: 100!important;
    font-size: 14px!important;
}
.table-infos p{
text-align: left!important;
}
.table-infos tr{
    background: white!important;
}
.table-infos td{
    color: black;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #ddd;
    width: 50%;
    text-transform: capitalize;
}
.modal-change label{
    font-size: 14px;
    line-height: 1.42857;
    color: black;
    font-weight: 400;
}
@media screen and (max-width: 479px) and (min-width: 320px) {
    .iw-t {
        font-size: 18px!important;
        color: #5380f2!important;
    }
    .iw-h h4 {
        font-size: 14px!important;
    }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
    .iw-t {
        font-size: 24px!important;
        color: #5380f2!important;
    }
    .iw-h h4 {
        font-size: 18px!important;
    }
}

.card-pricing .icon {
    padding: 10px 0 0px;
    color: #5380f2!important;
}
.card-pricing label{
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.cats-iw ul{
    list-style: none;
}
.cats-iw ul li input {
    width: 35px;
}
.cats-iw span {
    float: right;
}
.cats-iw h5{
    font-size: 14px;
    font-weight: 500;
}
#step2 select{
        margin: 0!important;
}
.subs-heading h4{
  font-weight: 500;
}
.iw-qtys{
    background: #ffffff;
    padding: 10px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.iw-qtys h4{
        color: #5380f2;
    font-weight: 400;
    font-size: 22px;
}
.iw-qtys h3{
        font-size: 16px;
    font-weight: 400;
}
.iw-qtys p{
        font-size: 18px;
    font-weight: 400;
}
.iw-qtys ol li{
        color: #5390f5;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.cats.iw ul li{
    margin-bottom: 15px;
}
.package-iw select{
    width: 72%;
    height: 35px;
    border-radius: 4px;
    border: 2px solid silver;
    margin-bottom: 10px;
}
.qty-lab{
    border: 2px solid silver!important;
    padding: 6px;
    width: 60px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    margin: 10px 0px 0px 0px;
}
.bg-set{
    background: #f9f9f9;
    margin: auto;
    display: block;
    width: 50%;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fffefe!important;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #ecf1ea!important;
}
.subs-btn button{
 width: 33%;
}
.table-striped tbody tr td{
    font-size: 14px;
    font-weight: 500;
    border: 1px solid silver;
    width: 20%;
}
.table-striped tbody tr td p{
    font-size: 14px;
    font-weight: 500;
}
.table-striped tbody tr th{
    border: 1px solid silver;
    width: 20%;
}
.error-msg p{
    background: #ff1818;
    color: white;
    padding: 5px;
    font-weight: 600;
    width: 100%;
    border-radius: 20px;
    text-align: center;
}
.error-msg{
    margin: 5px auto;
    display: block;
    width: 40%;
}
.label-qty label{
    background: #5380f2;
    color: white;
    padding: 6px;
    font-weight: 600;
}
.tble_tr_bg th{
    width: 20%;
}
.tble_tr_bg th h4{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.iw-qty-td label{
    color: black!important;
}
.badge {
    margin-top: 10px;
    display: inline-block;
    min-width: 200px!important;
    padding: 7px 15px!important;
    font-size: 14px!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #1a1f2a!important;
    border-radius: 15px!important;
}
.title h2{
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
}