<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content class="menu-bg">
          <div class="profile-img">
            <img src="img/profile.jpg">
            <h4>Waseem Ahmad</h4>
            <p>+919540594018</p>
          </div>
            <ion-list>
                <ion-item menu-close href="#/app/home">
                    <i class="ion-android-home"></i><p>Home</p>
                </ion-item>
                <ion-item menu-close href="#/app/schedule">
                    <i class="ion-ios-time"></i><p> Schedule Order</p>
                </ion-item>
                <ion-item menu-close href="#/app/order">
                    <i class="ion-bag"></i><p> My Order</p>
                </ion-item>
                <ion-item menu-close href="#/app/rate">
                    <i class="ion-pricetags"></i> <p>Rate 
                    List</p>
                </ion-item>
                <ion-item menu-close href="#/app/services">
                    <i class="ion-gear-b"></i> <p>Services</p>
                </ion-item>
                <ion-item menu-close href="#/app/faq">
                    <i class="ion-help-circled"></i> <p>FAQ</p>
                </ion-item>
                <ion-item menu-close ng-click="login()">
                    <i class="ion-log-in"></i> <p>Login</p>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
