<ion-view view-title="FAQ">
  <ion-content>
    <ion-list>
        <div ng-repeat="cat in faqscat" class="faq-cat">
          <ion-item class="item-stable"
                    ng-click="getFaq(cat.id);toggleGroup(cat)"
                    ng-class="{active: isGroupShown(cat)}">
              <i class="icon" ng-class="isGroupShown(cat) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
        {{cat.name}}
          </ion-item>
          <ion-item class="item-accordion scroll"
                    ng-repeat="faq in cat.items"
                    ng-show="isGroupShown(cat)">
                    <p>{{faq.question}}</p>
                    <p>{{faq.answer}}</p>
           
          </ion-item>
        </div>
      </ion-list>
  </ion-content>
</ion-view>
