<ion-view title="Home" class="bg-set" >
  	<ion-nav-title>
        <div class="loctn-top-head " ng-click ='openModal()' >
          <span class="loctn-text">{{location !=''? location:'Enter your location'  | limitTo : 20}} <text ng-if="location.length>20">...</text></span>
          <i class="icon-right ion-chevron-down"></i>
        </div>
    
       
      </ion-nav-title>
  <ion-content>
    <div class="iw-banner">
      <ion-slide-box class="slide-box" does-continue="true" auto-play="true">
      
     
          <ion-slide ng-repeat="banner in banners">
          <img class="slide-box__image" ng-src="{{api_url+banner.url}}" />
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="iw-process">
    <h5>Services</h5>
    <a class="button button-small iw-feature" href="#/app/services">
                View Features
            </a>
      <ion-grid class="grid">
        <ion-row class="row iw-process-icon">
          <ion-col class="col col-33 servicebox" ng-repeat="service in categorieshome">

                <label for="t1{{service.id}}">
                      <img src="{{api_url+service.image_app}}">

                      {{service.name}} (Per {{service.per}})
                 </label>
          </ion-col>
     
        </ion-row>
      </ion-grid>
      <button class="button button-block iw-process-btn"  ng-click="gotoStep(2)">
                Order Now
            </button>
</div>
    <div class="iw-testimonial">
      <h5>Customer Testimonials</h5>
      <div class="cd-testimonials-wrapper cd-container cd-light">
        <ul class="cd-testimonials">
          <li ng-repeat="testi in testimonials">
            <p ng-bind="testi.message"></p>
            <div class="cd-author">
              <img src="{{api_url+testi.profile}}" alt="{{testi.name}}">
              <ul class="cd-author-info">
                <li ng-bind="testi.name"></li>
                <li ng-bind="testi.designation"></li>
              </ul>
            </div>
          </li>
        
        </ul>
      </div>
    </div>
    <div class="iw-faq">
    	<a href="#/app/faq">Frequently Asked Questions<i class="ion-chevron-right"></i></a>
    </div>
    <div class="iw-promise">
      <h5>Our Promises</h5>
      <ion-grid class="grid">
        <ion-row class="row iw-promise-icon">
          <ion-col class="col">
            <div>
            <img src="img/soap.png">
            <h6>Hygiene</h6>
            </div>
          </ion-col>
          <ion-col class="col">
            <div><img src="img/badge.png" style="margin: 10px 0px 0px 32px!important">
                 <h6>Convenience Guarantee</h6>
            </div>
          </ion-col>
          <ion-col class="col">
            <div><img src="img/giftbox.png">
             <h6>Pakaging</h6>
             </div>
          </ion-col>
          <ion-col class="col">
            <div><img src="img/get-money.png">
             <h6>Easy Payment</h6>
             </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-view>
