<ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active" >
		<ion-header-bar class="bar bar-header bar-energized">
			<h1 class="title" style="left: 38px; right: 69px;">
				Select location
			</h1>
			<button class="button button-clear button-primary ion-ios-close-outline" ng-click="locationmodal.hide()"></button>
		</ion-header-bar>
		<ion-content class="scroll-content ionic-scroll  has-header">
			<div class="row responsive-sm grey lighten-4">
				<div class="list pad-10 pad-lt-5" ng-click="getgeolocation();locationmodal.hide()">
					<a href="#" class="pad-5">
						<span class="icon ion-pinpoint energized"></span>
					</a>
					Auto-detect current location
				</div>
			</div>
			<div class="col responsive-sm orange lighten-5">
				<div class="list">
					<form action="" method="post">
						<label class="item item-input ">
							<i class="icon ion-search placeholder-icon"></i>
							<input id="searchBar"  ng-focus="disableTap()"   placeholder="Start typing your location" changegoogleplace="" ng-model="locationmodal.newlocation" id='newlocation'  type="text" autofocus="true">
							{{newlocation}}
							<i class="icon ion-close" ng-if="locationmodal.newlocation" ng-click="clearlocation()"></i>
						</label>
					</form>
				</div>
			</div>
		</ion-content>
	</ion-modal-view>
	