

   <ion-tabs class="tabs-bottom tabs-light">
        <ion-tab title="LOGIN"  >
            <ion-content class="has-header has-tabs-bottom iw-background">
             <form name="loginForm">
            <div class="ionic login " view-title="login">
              <div class="hero  flat">
                <div class="content">
                  <i class="hanger"><img src="img/hanger3.png"></i>
                  <!--<h1>iWash</h1>-->
                </div>
              </div>
              <div class="list" style="margin-top:40px!important">
                <label class="item item-input item-md-label" placeholder="Username" highlight-color="balanced" type="text">
                  <input type="email" class="used" ng-model="data.username" required><span class="input-label" >Username</span>
                  <div class="highlight highlight-balanced"></div>
                </label>
                <label class="item item-input item-md-label" placeholder="Password" highlight-color="energized" type="password">
                  <input type="password" class="used"  ng-minlength="8"  ng-model="data.password" required><span class="input-label">Password</span>
                  <div class="highlight highlight-energized"></div>
                </label>
              </div>
              <div class="iw-padding">
                <button style="float:left;" class="button button-block button-calm" ng-disabled="loginForm.$error.required || loginForm.$error.minlength " ng-click="login()">Login</button>
              </div>
              <div class="button-bar">
                
                <button class="button button-small button-outline button-positive light-bg icon-left ion-social-facebook" ng-click="facebookLogin()">Facebook</button>
              </div>
            </div>
          </form>
            </ion-content>
        </ion-tab>
        <ion-tab title="SIGN UP">
            <ion-content class="has-header has-tabs-bottom iw-background" scroll="true">
                  <form name="signupForm">
            <div class="ionic login " ng-app="login">
              <div class="hero flat">
                <div class="content">
                  <i class="hanger"><img src="img/hanger3.png"></i>
                 
                </div>
              </div>
              <div class="list" style="margin-top:40px!important">
                <label class="item item-input item-md-label" placeholder="First Name" highlight-color="balanced" type="text">
                  <input type="text" ng-model="register.fname" class="used" ng-model-options="{updateOn: 'change'}" required><span class="input-label">First Name</span>
                  <div class="highlight highlight-balanced"></div>
                </label>
                 <label class="item item-input item-md-label" placeholder="Last Name" highlight-color="balanced" type="text">
                  <input type="text" ng-model="register.lname" class="used" required><span class="input-label">Last Name</span>
                  <div class="highlight highlight-balanced"></div>
                </label>
                <label class="item item-input item-md-label" placeholder="Email" highlight-color="balanced" type="Email">
                  <input type="Email"  ng-model="register.email"  class="used"  required><span class="input-label">Email</span>
                  <div class="highlight highlight-balanced"></div>
                </label>
				  <label class="item item-input item-md-label" placeholder="Mobile" highlight-color="balanced" type="Mobile">
                  <input type="text"  ng-model="register.mobile"  class="used"  required><span class="input-label">Mobile</span>
                  <div class="highlight highlight-balanced"></div>
                </label>
                <label class="item item-input item-md-label" placeholder="Password" highlight-color="energized" type="password">
                  <input type="password" ng-model="register.password" class="used" required ng-minlength="8"><span class="input-label">Password</span>
                  <div class="highlight highlight-energized"></div>
                </label>
              </div>
              <div class="iw-padding">
                <button class="button button-block button-calm" ng-click="signup()" ng-disabled="signupForm.$error.required || signupForm.$error.minlength || signupForm.$error.maxlength">Sign up</button>
              </div>
              <div class="button-bar">
                
                <button class="button button-small button-outline button-positive light-bg icon-left ion-social-facebook" ng-click="facebookLogin()">Facebook</button>
              </div>
            </div>
          </form>
            </ion-content>
        </ion-tab>
      
    </ion-tabs>

