<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable iw-navbar">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content class="menu-bg">
          <div class="profile-img">
            <img ng-src="{{profileimage}}">
            <h4 ng-bind="myinfo.name"></h4>
            <p></p>
          </div>
            <ion-list class="menu-color">
                <ion-item menu-close href="#/app/home">
                    <img src="img/house.png"><p>Home</p>
                </ion-item>
                <ion-item menu-close href="#/app/order">
                    <img src="img/shopping.png"><p> My Orders</p>
                </ion-item>
                <ion-item menu-close href="#/app/rate">
                    <img src="img/tag.png"> <p>Rate 
                    List</p>
                </ion-item>
                <ion-item menu-close href="#/app/packages">
                    <img src="img/plan.png"> <p>Monthly Packages</p>
                </ion-item>
                <ion-item menu-close href="#/app/mysubscription">
                    <img src="img/cart.png"> <p>My Subscription</p>
                </ion-item>
                <ion-item menu-close href="#/app/services">
                   <img src="img/info.png"> <p>Services</p>
                </ion-item>
                <ion-item menu-close href="#/app/support">
                    <img src="img/customer-service.png"> <p>Support</p>
                </ion-item>
                <ion-item menu-close href="#/app/faq">
                    <img src="img/question.png"> <p>FAQ</p>
                </ion-item>
                <ion-item menu-close class="log" ng-click="logOut()">
                    <img src="img/login.png"> <p>Logout</p>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>


    
 
