<ion-view view-title="Subscription">
  <ion-content>
    <div class="iw-contents has-header animate-fade-slide-in">
      <div class="card in" style="transition-delay: 0.1s;" ng-if="subscriptions!=null">
        <div class="item-text-wrap stable-bg">
          <h4 class="text-center iw-category" ng-bind="subscriptions.monthly_package.package">Traditional</h4>
                    <h1 class="iw-card-title"><small>QTR</small>{{subscriptions.monthly_package.pricing_for_each_month}}<small>/mo</small></h1>

          <ul class="iw-subs">
            <li><b ng-bind="subscriptions.payment_amount"></b> QTR</li>
          <li> <p ng-repeat="services in subscriptions.subscribe_services"><b ng-bind="services.quantity" ></b> {{services.service.name}}  ({{services.category.name}})</p></li>
            <li><b ng-bind="subscriptions.duration"></b> Month</li>
            <li ng-bind="subscriptions.pickup_option"></li>
            
          </ul>
          <div class="card-footer">
              <span ng-if="subscriptions.payment_status==0" class="label label-danger">Payment Pending</span>
              <span ng-if="subscriptions.payment_status==1" class="label label-success">Payment Done</span>
              <span ng-if="subcribepackage==true && subscriptions.payment_status==1 && isLimitUsed==true" class="label label-warning">Limit Used</span>
              
              
              
            <input type="button" name="next" ng-click="confirmcancel(subscriptions.id)" class="next button button-assertive iw-sub" ng-if="subscriptions.status==1 && subscriptions.payment_status==0"  value="Unsubcribe">
          </div>
        </div>
      </div>

      <div ng-if="subscriptions==null" class="noresult">Currently no Subscription</div>
      
    </div>


    
  </ion-content>
</ion-view>
