


<ion-view view-title="Schedule time" style="background: #ffffff">
  <ion-content>
    <div class="iw-address flat">
      <!-- multistep form -->
      <div id="msform" >
        <ul id="progressbar">
          <li class="active">Address</li>
          <li  class="active">Service</li>
         <li class="active">Quantity</li>
          <li class="active">Schedule</li>

          <li>Confirm</li>
        </ul>
        <hr>
        
             <fieldset class="iw-timeslot">
                     <form name="timslotform">

          <div class="iw-new-address">
            <h4>Choose Time Slot</h4>
            <div class="card iw-stable-bg ">
              <ion-grid class="grid">
                <h3>Schedule Your Pickup*</h3>
                <ion-row class="row">
                 <ion-col class="col col-50">

                    <input type="text" readonly datepicker class="iw-date addressinput from" name="from" required  
                    ng-model="$parent.currentorder.timslot.pickupdate" />
                  </ion-col>
                <ion-col class="col col-50 iw-set">
                    <select name="pickuptime" ng-init="$parent.currentorder.timslot.pickuptime=pickuptime[0].id" class="pickuptime addressinput"   required  ng-model="$parent.currentorder.timslot.pickuptime"  ng-options="data.timebetween for data in pickuptime">
                      <option value="">-- Select --</option>

<!--
                  <option ng-repeat="option in pickuptime" rel="" value="{{option.id}}">{{option.timebetween}}</option>  
                  -->
                    </select>

                    
                  </ion-col>

                </ion-row>
                <h3>Schedule Your Delivery*</h3>
                <ion-row class="row">
                        <ion-col class="col col-50">
                    <input type="text" readonly datepicker required class="iw-date addressinput to" name="to" ng-model="$parent.currentorder.timslot.deliverydate" />
                  </ion-col>
                  <ion-col class="col col-50 iw-set1">
                    <select name="deliverytime"  class="deliverytime addressinput"  required  ng-model="$parent.currentorder.timslot.deliverytime"  ng-options="data.timebetween for data in deliverytime">
                                          <option value="">-- Select --</option>

                    <!--
                  <option ng-repeat="option in deliverytime" value="{{option.id}}">{{option.timebetween}}</option>  
                  -->
                    </select>
                    
                  </ion-col>

                </ion-row>
              </ion-grid>
            </div> 
          </div> 
          <input type="button" name="previous" ng-click="gotoStep(4)" class="previous iw-button-balanced button button-raised button-stable ink-dark" value="ADDRESS" />
         
          <input type="button" name="next"  ng-disabled="!currentorder.timslot.pickupdate || !currentorder.timslot.deliverydate || !currentorder.timslot.pickuptime || !currentorder.timslot.deliverytime" class="next iw-button-balanced button button-assertive revieworder" value="REVIEW ORDER"  ng-click="gotoStep(6)"/>
          </form>
        </fieldset>
       
     
      </div>
    </div>
  </ion-content>
</ion-view>
