<ion-view view-title="Select Address" style="background: #ffffff">
  <ion-content>
    <div class="iw-address flat">
      <!-- multistep form -->
      <div id="msform" >
        <ul id="progressbar">
		 <li class="active">Address</li>
          <li >Service</li>
         <li>Quantity</li>
          <li>Schedule</li>
          <li>Confirm</li>
          
        </ul>
        <hr>
        <fieldset class="iw-service-col">
        <form name="addressform">
  <div class="iw-new-address">
        <h4>Delivery Address</h4>
        <div class="card iw-stable-bg">
          <div class="item item-body">
            <main>
              <div class="flp">
                <div>
                  <input type="text" placeholder="Flat No. and Street" id="street"  ng-model="$parent.currentorder.address.street" />
                  <label for="street">Flat No. and Street</label>
                </div>
                <div>
                  <input type="text" id="searchBar" placeholder="Landmark"  ng-focus=" disableTap() "   changegoogleplace="  " ng-model=" $parent.currentorder.address.landmark "  />
                  <label for="landmark">Landmark</label>
                </div>
				
				 <div class="branch-iw">
					 <select  class="iw-time"  required  
                                            ng-model="$parent.currentorder.branch"     ng-options="data.location for data in branches" class="pickuptime addressinput" >
												<option value="">-- Select --</option>

                                            </select>
					  <label for="branch">Branch</label>
				 </div>
              </div>
              <h4>Address Nick Name</h4> 
              <div class="switch-field">
                <input type="radio" id="switch_3_left" name="switch_3" value="home" checked ng-model="$parent.currentorder.address.addresstype" />
                <label for="switch_3_left">Home</label>
                <input type="radio" id="switch_3_center" name="switch_3" value="office" ng-model="$parent.currentorder.address.addresstype"  />
                <label for="switch_3_center">Office</label>
                <input type="radio" id="switch_3_right" name="switch_3" value="other" ng-model="$parent.currentorder.address.addresstype" />
                <label for="switch_3_right">Other</label>
              </div>
            </main>
          </div>
        </div>
      </div>
          <input type="button" name="next" ng-disabled="!currentorder.address.street || !currentorder.address.landmark || !currentorder.address.addresstype || !currentorder.branch" class="next iw-action-button button button-assertive" value="Select Service"  ng-click="gotoStep(3)"/>
</form>

        </fieldset>

            
     
      </div>
    </div>
  </ion-content>
</ion-view>
