


<ion-view view-title="Confirm order" style="background: #ffffff">
  <ion-content>
    <div class="iw-address flat">
      <!-- multistep form -->
      <div id="msform" >
        <ul id="progressbar">
         <li class="active">Address</li>
          <li  class="active">Service</li>
         <li class="active">Quantity</li>
          <li class="active">Schedule</li>
          <li class="active">Confirm</li>
        </ul>
        <hr>
       
        <fieldset class="iw-service-detail">
          <h4>Service Details</h4>
              <form name="confirmorder">
          <div class="card iw-stable-bg ">
            <ion-grid class="grid">
              <ion-row class="row">
                <ion-col class="col col-20">
                  <img src="img/wm.png">
                </ion-col>
                <ion-col class="col col-80">
             
                <div class="iw-qtys iw-qtyss">
                                        <h4  ng-if="$parent.currentorder.currentSubscription==null || $parent.currentorder.useSubscription==0" >Services under - {{$parent.currentorder.service.name}}</h4>
										    <h4  ng-if="$parent.currentorder.currentSubscription!=null && $parent.currentorder.useSubscription==1" >Services under you package - {{$parent.currentorder.currentSubscription.monthly_package.package}}</h4>
										<p>Total Amount :QRS {{$parent.currentorder.cartPrice}}</p>
									<h4 class="text-left">Items</h4>
										
										<ol>
										  <li ng-repeat="service in $parent.currentorder.cart" class="text-left">{{service.cart_qty}} {{service.name}}</li>
										
										</ol>
                                    </div>
                </ion-col>
              </ion-row>
              <hr>
              <ion-row class="row">
                <ion-col class="col col-20">
                  <img src="img/calendar1.png">
                </ion-col>
                <ion-col class="col col-20">
                  <p>Pickup</p>
                  <p>Delivery</p>
                </ion-col>
                <ion-col class="col col-20">
                  <p ng-bind="currentorder.timslot.pickupdate"></p>
              <p ng-bind="currentorder.timslot.deliverydate"></p>
                </ion-col>
                <ion-col class="col col-40">
                      <p ng-bind="currentorder.timslot.pickuptime.timebetween"></p>
                        <p ng-bind="currentorder.timslot.deliverytime.timebetween"></p>
                </ion-col>
              </ion-row>
              <hr>
              <ion-row class="row">
				  <ion-col class="col col-20">
                  <img src="img/map.png">
                </ion-col>
                <ion-col class="col col-80">
                  <h5>{{currentorder.address.addresstype}}</h5>
                  <p>{{currentorder.address.street}}</p>
                     <p>{{currentorder.address.landmark}}</p>
                  <!-- <p></p> -->
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <input type="button" name="previous"  ng-click="gotoStep(5)" class="previous iw-button-balanced button button-raised button-stable ink-dark" value="TIMESLOT" />
          <input type="submit" name="submit" class="submit iw-button-balanced button button-assertive" value="CONFIRM ORDER" ng-click="placeOrder(currentorder)"/> </form>
        </fieldset>
     
      </div>
    </div>
  </ion-content>
</ion-view>
