

<ion-view view-title="Quantity" style="background: #ffffff">
  <ion-content>
    <div class="iw-address flat">
      <!-- multistep form -->
      <div id="msform" >
  <ul id="progressbar">
          <li class="active">Address</li>
          <li  class="active">Service</li>
         <li class="active">Quantity</li>
          <li >Schedule</li>

          <li>Confirm</li>
  </ul>
        <hr>
        
             <fieldset class="iw-timeslot">
                     <form name="quantityform" class="quantityform">

          <div class="iw-new-address">
            <h4  ng-if="$parent.currentorder.currentSubscription!=null && $parent.currentorder.useSubscription==1" >Services under you package - {{$parent.currentorder.currentSubscription.monthly_package.package}}</h4>
       <h4  ng-if="$parent.currentorder.service && (!$parent.currentorder.useSubscription || $parent.currentorder.useSubscription==0) " >Services under  - {{$parent.currentorder.service.name}}</h4>
            <div class="card iw-stable-bg ">
              
             <div class="list">
                <div class="item"  ng-if="(!$parent.currentorder.useSubscription || $parent.currentorder.useSubscription==0) && $parent.currentorder.service && $parent.currentorder.catservices" ng-repeat="service in $parent.currentorder.catservices">
                   <p>{{service.name}}- {{service.price}} QRS Per {{service.per}}</p>
                    <span class="iw-rate" method='POST' action='#'>
    <input type='button' value='-' class='iw-qtyminus' field='quantity' ng-click="decrement(service,service.category_id,service.id,service.price)" />
     <input type="number" readonly="" name="quantity"  class="iw-qty ng-pristine ng-untouched ng-valid ng-not-empty" ng-init="service.quantity=0" ng-model="service.quantity" value="0">
    <input type='button' value='+' class='iw-qtyplus' field='quantity' ng-click="increment(service,service.category_id,service.id,service.price)"/>
</span>

                </div>
				
				
                   <div class="item"  ng-if="$parent.currentorder.currentSubscription!=null && $parent.currentorder.useSubscription==1" ng-repeat="servicelist in $parent.currentorder.currentSubscription.subscribe_services">
                   <p>{{servicelist.service.name}} ({{servicelist.category.name}})<br>{{servicelist.service.price}} QRS Per {{servicelist.service.per}}</p>
                    <span class="iw-rate" method='POST' action='#'>
    <input type='button' value='-' class='iw-qtyminus' field='quantity' ng-click="decrement(servicelist.service,servicelist.service.category_id,servicelist.service.id,servicelist.service.price)"/>
	<input type="number" readonly="" name="quantity" max="{{servicelist.quantity}}" class="iw-qty ng-pristine ng-untouched ng-valid ng-not-empty"  ng-model="service.quantity"  ng-init="service.quantity=0"  value="0" ng-value="{{(service.quantity > servicelist.quantity)?servicelist.quantity:service.quantity}}"  ng-disabled="{{(service.quantity >= servicelist.quantity)?true:false}}">
	<input type='button' value='+' class='iw-qtyplus' field='quantity' ng-disabled="{{(service.quantity >= servicelist.quantity)?true:false}}"
									
									ng-click="increment(servicelist.service,servicelist.service.category_id,servicelist.service.id,servicelist.service.price)"/>
</span>
<p style="float: right;">Total: {{servicelist.quantity}}</p>
                </div>
            </div>

             
            </div> 
          </div> 
          <input type="button" name="previous"  ng-click="gotoStep(3)" class="previous iw-button-balanced button button-raised button-stable ink-dark" value="SERVICE" />
         
          <input type="button" name="next" ng-click="gotoStep(5)"    class="next iw-button-balanced button button-assertive revieworder" ng-disabled="(!$parent.currentorder.service && $parent.currentorder.useSubscription==0 ) || $parent.currentorder.cartPrice==0" value="SCHEDULE" />
          </form>
        </fieldset>
       
     
      </div>
    </div>
  </ion-content>
</ion-view>
<style>
	.estimator{
	z-index:9999;
	}
	</style>


  <div class="estimator">
                <img src="img/basket.png">
                <p id="quantity">0</p>
                <span style="margin-left:15px;">Estimated Price(QRS): </span>
                <span id="total">0</span>
               
            </div>

