<ion-view view-title="ORDER PLACED" style="background: #f4f4f4" >
  
  <ion-content>
    <fieldset class="iw-successful">
      <div>
        <h4>Order Successful</h4>
        <img src="img/checked.png">
        <h4>Thank you</h4>
        <hr>
        <h5>Order ID</h5>
        <h3>Iw{{placedorder}}</h3>
        <h5>Refer this ID for further Communication</h5>
      </div>
    </fieldset>
    <div class="iw-successful-btn">
    	<ion-grid class="grid">
        <ion-row class="row">
          <ion-col class="col col-10">
            <img src="img/checked (1).png">
          </ion-col>
          <ion-col class="col col-90">
            <p>Delivery time for Dry Cleaning may vary according to garment type</p>
          </ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col class="col col-10">
            <img src="img/checked (1).png">
          </ion-col>
          <ion-col class="col col-90">
            <p>The Invoice details & payment option shall be available within 24 hrs of pickup</p>
          </ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col class="col col-10">
            <img src="img/checked (1).png">
          </ion-col>
          <ion-col class="col col-90">
            <p>Price quoted are exclusive of service tax</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <a href="#/app/order" class=" button button-assertive">ORDER STATUS</a>
    </div>
  
      
  </ion-content>
</ion-view>
