<ion-view view-title="My Orders" >
  <ion-content>
    <div class="hero iw-order flat" ng-show="notfound" ng-if="notfound">
      <div class="order">
        <a class="schedule" href="#"><img src="img/shopping-basket.png"></a>
        <h3>No Order History</h3>
      </div>
    </div>
    <div class="hero iw-pickup flat" ng-show="notfound" ng-if="notfound">
      <h5>Look like you don't have any past orders, Schedule your pickup for amazing wash experience!</h5>
      <a href="#/app/home" class="button button-block iw-schedule-btn">Schedule Pickup</a>
    </div>
      <div ng-if="allorders.length" ng-repeat="order in allorders">
      <div class=" iw-order-placed">
      <h6>{{order.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</h6>
      <div class="card iw-stable-bg">
      <a href="#/app/order-details/{{order.id}}" class="item item-body">
          <ion-grid class="grid">
            <ion-row class="row">
              <ion-col class="col">
                <h4>Iw{{order.id}}</h4>
              </ion-col>

               
              <ion-col class="col {{order.status=='cancelled' ? 'iw-cancel':'iw-placed'}}">
                <h4>Order {{order.status}}</h4>
              </ion-col>
            </ion-row>
          </ion-grid>
          <hr>
          <table class="table">
            <tbody>
			 <tr >
						<td>Order Type</td>
						<td>{{order.order_type  | uppercase}}</td>
                </tr>
                <tr>
                    <td ng-if="order.order_type=='simple'">Service</td>
                    <td>{{order.category.name}}</td>
                  </tr>
              <tr>
                <td>Pickup By</td>
                <td>{{order.pickupDate}}- {{order.pickuptime.timebetween}}</td>
              </tr>
              <tr>
                <td>Delivery By</td>
                <td>{{order.deliveryDate}}- {{order.deliverytime.timebetween}}</td>
              </tr>
              <tr>
                <td>Bill Amount</td>
                <td>{{order.payment_status==1?'QRS '+order.totalamount:'Invoice Not Generated'}}</td>
              </tr>
              <tr>
                <td>Payable Amount</td>
                <td>{{order.payment_status==1?'QRS '+order.totalamount:'Invoice Not Generated'}}</td>
              </tr>
            </tbody>
          </table>
        </a>

           <div ng-if="order.status=='placed'" class="item tabs iw-tabs-secondary tabs-icon-left">
          <div  class="tab-item">
           </div>
          <div class="tab-item" ng-click="confirmcancel($index,order.id)">
                        <i class="icon ion-close-circled"></i> Cancel
          </div>
        </div>
      </div>
    </div>
    </div>
      <ion-infinite-scroll ng-if="!moreresults"  on-infinite="loadMoreOrders()" distance="2%"></ion-infinite-scroll>

  </ion-content>
</ion-view>
