<ion-view view-title="ORDER DETAILS" style="background: #f8f8f8">
  <ion-content>



  <div class="iw-order-status" ng-if="order.status!='cancelled'">
      <div class="card iw-stable-bg">
        <h4>Order ID  -  Iw{{order.id}}</h4>
        <h3><a href="#" ng-click="confirmcancel(order.id)">Cancel Order</a></h3>
        <div class="item item-body">
          <div class="iw-sad-img">
            <img src="img/calendar.png">
            <h5>Order {{order.status}}</h5>
            <ion-grid class="grid">
              <ion-row class="row">
                <ion-col class="col">
                  <h2>Pick Up</h2>
                  <p>{{order.pickupDate}}</p>
                  <p>{{order.pickuptime.timebetween}}</p>
                </ion-col>
                <ion-col class="col iw-placed">
                  <h2>Delivery</h2>
                  <p>{{order.deliveryDate}}</p>
                  <p>{{order.deliverytime.timebetween}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <hr>
            <!-- <h4>Invoice</h4>
            <img src="img/invoice.png">
           <p>  {{order.payment_status==1?'QRS '+order.totalamount:''}} </p>
            <p ng-if="order.payment_status==0">Invoice detail shall be available here within 24 hours of pickup</p> -->
          <!--
          <button class="button button-block iw-process-btn">
                RESCHEDULE ORDER
            </button>
        -->
        <h4>Information</h4>
        <ion-grid class="grid iw-new-detail">
          <ion-row class="row" ng-if="order.order_type=='simple'">
            <ion-col class="col col-30">
              <h3>Service Category</h3>
            </ion-col>
            <ion-col class="col col-70">
              <p>: {{order.category.name}}</p>
            </ion-col>
          </ion-row>
		   <ion-row class="row" >
            <ion-col class="col col-30">
              <h3>Order Type</h3>
            </ion-col>
            <ion-col class="col col-70">
              <p>: {{order.order_type  | uppercase}}</p>
            </ion-col>
          </ion-row>
		     <ion-row class="row" >
            <ion-col class="col col-30">
              <h3>Services</h3>
            </ion-col>
            <ion-col class="col col-70">
              <p>: <p  ng-repeat="service in order.order_services">{{service.quantity}} {{service.service.name}}  ({{service.service.price}} QRS Per {{service.service.per}}){{service.service.category.name}}</p> </p>
            </ion-col>
          </ion-row>
          <ion-row class="row">
            <ion-col class="col col-30">
              <h3>Bill Amount</h3>
            </ion-col>
            <ion-col class="col col-70">
              <p>: {{order.payment_status==1?'QRS '+order.totalamount:'Invoice Not Generated'}}</p>
            </ion-col>
          </ion-row>
          <ion-row class="row">
            <ion-col class="col col-30">
              <h3>Address</h3>
            </ion-col>
            <ion-col class="col col-70">
              <p> : {{order.addressType}}</p>
              <p> : {{order.flatandstreet}}</p>
              <p> : {{order.landmark}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
          </div>
        </div>
      </div>
    </div>



    <div class="iw-order-cancel"  ng-if="order.status=='cancelled'">
      <div class="card iw-stable-bg">
        <h4>Order ID  -  Iw{{order.id}}</h4>
        <div class="item item-body">
          <div class="iw-sad-img">
            <img src="img/sad.png">
            <h5>Cancelled</h5>
            <ion-grid class="grid">
              <ion-row class="row">
                <ion-col class="col">
                  <h2>Pick Up</h2>
              <p>{{order.pickupDate}}</p>
                  <p>{{order.pickuptime.timebetween}}</p>
                </ion-col>
                <ion-col class="col iw-placed">
                  <h2>Delivery</h2>
                  <p>{{order.deliveryDate}}</p>
                  <p>{{order.deliverytime.timebetween}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <hr>
            <h5>This Order has been cancelled by you</h5>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
