
<ion-view view-title="Service" style="background: #ffffff">
  <ion-content>
    <div class="iw-address flat">
      <!-- multistep form -->
      <div id="msform" >
        <ul id="progressbar" style="margin-top: 85px;">
          <li class="active">Address</li>
          <li  class="active">Service</li>
         <li>Quantity</li>
          <li>Schedule</li>
          <li>Confirm</li>
        </ul>
        <hr>
             <fieldset class="iw-timeslot" ng-init="getMyCurrentSubscription()">
                     <form name="quantityform" class="quantityform">

          <div class="iw-new-address" ng-if="$parent.currentorder.currentSubscription!=null">
            <h4>Your current subscrition pacakge is {{$parent.currentorder.currentSubscription.monthly_package.package}}</h4>
            <h5 class="text-left" style="margin-left: 15px;">Use my subscription for order</h5>
            <div class="card iw-stable-bg ">
              
             <ion-list>
  <ion-radio ng-model="$parent.currentorder.useSubscription" ng-value="1" >Yes</ion-radio>
  <ion-radio  ng-model="$parent.currentorder.useSubscription" ng-value="0" ng-checked="true">No</ion-radio>
</ion-list>
             
            </div> 
          </div> 
		  
		  
          <div class="iw-new-address" ng-if="$parent.currentorder.currentSubscription==null || $parent.currentorder.useSubscription==0"  ng-init="getservicesCatforOrder()">
            <h4>Select Type of Service*</h4>
            <div class="card iw-stable-bg ">
                 <ion-list>
  <ion-radio class="iw-contents" ng-repeat="service in servicescat" ng-checked="$parent.currentorder.service.id==service.id" name="selectList" ng-model="$parent.currentorder.service" ng-value="{{service}}">   {{service.name}} </ion-radio>

</ion-list>
           

             
            </div> 
          </div>
          <input type="button" name="previous" ng-click="gotoStep(2)" class="previous iw-button-balanced button button-raised button-stable ink-dark" value="ADDRESS" />
         
          <input type="button" name="next"  ng-click="gotoStep(4)"  ng-disabled="!currentorder.service && ($parent.currentorder.useSubscription==0 ||$parent.currentorder.useSubscription==null)"  class="next iw-button-balanced button button-assertive revieworder" value="Service" />
          </form>
        </fieldset>
       
     
      </div>
    </div>
  </ion-content>
</ion-view>






