<ion-view view-title="Packages">
  <ion-content>
    <div class="iw-content has-header animate-fade-slide-in">

      <div class="card in done" style="transition-delay: 0.1s;" ng-repeat="pack in monthlypackages">
      <div class="stable-bg iw-bg-img">
        <h3 class="iw-pakages" ng-bind="pack.package"></h3>
        <table class="table iw-table">
            <tbody>
              <tr>
                <td>Pricing </td>
                <td> : QRS {{pack.pricing_for_each_month}}</td>
              </tr>
              <tr>
                <td>Pickup Option </td>
                <td> : {{ pack.available_packages.substring(0, pack.available_packages.lastIndexOf(","))+' & '+pack.available_packages.substring(pack.available_packages.lastIndexOf(",") + 1)
}} Months</td>
              </tr>
              <tr>
                <td>Available Packages </td>
                <td> : {{ pack.pickup_options.split(',').join('/')}}</td>
              </tr>
              <tr>
                <td>Usage Limit </td>
                <td> :    <p ng-repeat="services in  pack.package_services">{{services.quantity}}  {{services.service.name}}({{services.category.name}})</p>
                                      </td>

              </tr>
            </tbody>
          </table>
         
          <div class="card-footer  iw-footer">
              <span ng-if="subcribepackage!=false && pack.id==subcribepackage.package_id" class="label label-warning">Already Subscribed</span>
              <span ng-if="subcribepackage!=false && pack.id==subcribepackage.package_id && subcribepackage.payment_status==1 && isLimitUsed==true" class="label label-warning">Limit Used
			  </span>
              
              <span ng-if="subcribepackage!=false && pack.id==subcribepackage.package_id && subcribepackage.payment_status==0" class="label label-danger">Payment Pending</span>
      <input type="button" ng-if="subcribepackage==false  || (subcribepackage!=false && subcribepackage.payment_status==1 && isLimitUsed==true)" name="next" class="next button button-assertive revieworder" value="Subscribe" ng-click="openSubscribeModal(pack)">

</div>
</div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
