<ion-view view-title="Order Request">
  <ion-content scroll="true">
    <ion-slide-box show-pager="false" ion-slide-tabs on-slide-changed="getservicesbycat($index,categories[$index]['id'])">
      <ion-slide  on-slide-changed="getservicesbycat($index,cat.id)" ion-slide-tab-label="{{cat.name}}"  category="{{cat.name}}" ng-repeat="cat in categories" >
        <div class="iw-dryclean">
          <h4 class="iw-header"></h4>
          <a class="item item-thumbnail-left" ng-repeat="service in cat.service">
                    <img src="img/a5.jpg">
                    <h2>{{service.name}}(per {{service.per}})</h2>
                    <p>QRS {{service.price}}</p>
                  <span class="iw-rate" method='POST' action='#'>
    <input type='button' value='-' class='iw-qtyminus' field='quantity' ng-click="decrement(cat.id,service.id,service.price)" />
    <input type='text' name='quantity' ng-value='0' readonly class='iw-qty' ng-init="service.quantity=basequantity" ng-model="service.quantity" />
    <input type='button' value='+' class='iw-qtyplus' field='quantity' ng-click="increment(cat.id,service.id,service.price)" />
</span>
</a>

        
        
        </div>
      </ion-slide>
     
    
    
    </ion-slide-box>
  <div class="estimator">
                <img src="img/basket.png">
                <p id="quantity">0</p>
                <span style="margin-left:15px;">Estimated Price(QRS): </span>
                <span id="total">0</span>
               
            </div>
  </ion-content>
</ion-view>
