<style>
.slider-slide-tab  span:last-child
/*{border-radius: 10px;
background:#ef473a;padding: 3px 8px;
    color: white;
    position: relative;
    bottom: 8px;
    left: 5px;    font-weight: bold;box-shadow:0 0 1px #333;
}  */

    .scrollmenu.scroll-view.scroll-x {
    overflow-x: hidden;  /* default value is 'scroll' */
}
  /*.services>div.scroll>div>div.slider-slides {

    width: 100%!important;
  }*/
  .disable-user-behavior:hover {
    background: none!important;
}
</style>
<ion-view view-title="Services" style="background: gainsboro;">
  <ion-content scroll="true" class="services">
    <ion-slide-box show-pager="false" ion-slide-tabs>
      <ion-slide ion-slide-tab-label="{{feature.name}}" ng-click="nextSlide()" ng-repeat="feature in servicesfeatures">
        <div class="iw-banner-service"><img src="{{api_url+feature.image_banner}}"></div>
        <div class="iw-service">
          <ion-grid class="grid">
            <ion-row class="row" ng-repeat="info in feature.service_features">
              <ion-col class="col">
                <div class="item item-avatar">
                  <img src="{{api_url+info.image}}">
                  <h2>{{info.title}}</h2>
                  <p>{{info.description}}</p>
                </div>
              </ion-col>
            </ion-row>

          </ion-grid>
        </div>
        <div class="iw-point">
          <h2><i class="ion-pinpoint"></i> Point to Remember</h2>
          <ul>
            <li>Best for Expensive Garments</li>
            <li>Stream ironing as applicable</li>
            <li>Stains removal will be attempted but not beyond a point to keep fabric intact</li>
            <li>Best suited for very heavy or very light garments</li>
            <li>Turnaround time may be increase on unforeseen circumstances such as machines breakdown, power,outage, logistics
              problems</li>
            <li>Turnaround time for regular garments in 3 days. For Blankets it takes 3-5 days. For curtains/shoes/carpets</li>
          </ul>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>