<ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active" >
    <ion-header-bar class="bar bar-header bar-energized">
        <h1 class="title" style="left: 38px; right: 69px;" ng-bind="curentpackage.package">
           
        </h1>
        <button class="button button-clear button-primary ion-ios-close-outline" ng-click="closeSubscribeModal()"></button>
    </ion-header-bar>
    <ion-content class="scroll-content ionic-scroll  has-header">
        
        <div class="col responsive-sm orange lighten-5">
            <div class="list">
                <form action="" method="post">
                        <label class="item  item-input"  >
                                <div class = "input-label">
                                      Package : {{curentpackage.package}}
                                     </div>
                              
                              </label>
                              <div class = "item item-input item-select" data-tap-disabled="true">
                                    <div class = "input-label">
                                       Select Pickup Options
                                    </div>
                                 
                                    <select  ng-model="subppack.pickup_option"  name="pickup_option" data-tap-disabled="true">
                                            <option ng-value="{{option.trim()}}" ng-selected="$index==0"  ng-repeat="option in curentpackage.pickup_options.split(',')">{{option.trim()}}</option>
                                           
        
                                            
        
                                        </select>
                                 </div>
                                 <div class = "item item-input item-select" data-tap-disabled="true">
                                        <div class = "input-label">
                                                Duration(Month)
                                        </div>
                                         
                                        <select ng-model="subppack.duration"  name="duration"   data-tap-disabled="true">
                                                <option ng-value="{{option.trim()}}"   ng-selected="$index==0"  ng-repeat="option in curentpackage.available_packages.split(',')">{{option.trim()}}</option>
                                             
        
                                            </select>
                                     </div>

                            
                       
                              <div class="padding">
                                    <button type="button" class="button button-block button-positive"  ng-click="subscribePack(subppack)">Subscribe</button>
                                  </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
