<ion-view view-title="SUPPORT">
  <ion-content>
    <div class="hero support flat">
                    <div class="email"  onclick="javascript:window.open('contact@iwash.com', '_system')" >
                        <a class="email-us" href="#"><img src="img/email.png"></a>
                        <h3>MAIL US</h3>
                    </div>
                </div>
                <hr class="style13">
                <div class="hero support flat">
                    <div class="email" ng-click="calluser(1111111111)" >
                        <a class="email-us" href="#"><img src="img/telephone.png"></a>
                        <h3>CALL US</h3>
                    </div>
                </div>
  </ion-content>
</ion-view>
